.loc-icon {
    font-size: 36px !important;
    color: #808080;
    line-height: 1.5;
    cursor: pointer;
}

agm-map {
    height: 400px;
}

.btn-clear {
    background: transparent !important;
    color: grey;
    padding-bottom: 0;
    padding-top: 0;
}

.btn-clear i {
    margin-top: -20px;
}

.x-icon {
    position: absolute;
    top: 50%;
    left: 70%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.badge {
    background-color: #CCCCCC;
    border-radius: 25px
}

.badge-custom {
    background-color: #f0f0f0;
    color: #888888;
    cursor: not-allowed;
}

.custom-width {
    width: 27.2rem !important;
}

.custom-div {
    background-color: #fff;
    color: #888 !important;
    border: 1px solid #888 !important;
}

.mat-input-flex.mat-form-field-flex {
    border: 1px solid #b7aeae !important;
    background: #fff !important;
    padding: 0px 10px !important;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    border: 1px solid grey !important;
    background: #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) {
    .custom-width {
        width: 16rem !important;
    }
    .w-50 {
        width: 100% !important;
    }
}