<div *ngIf="editMode" class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container py-5">
    <form (ngSubmit)="submit()" name="addLocationForm" #addLocationForm="ngForm" ngNativeValidate>
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <div class="row p-md-3 p-0 justify-content-center">

                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-brand mb-3">{{ 'ADD_LOCATION.TITLE' | translate}}</h5>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <mat-form-field class="input-field">
                                        <input matInput placeholder="Enter Location Name" name="locName" [(ngModel)]="locRequest.name" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                    <mat-form-field class="input-field">
                                        <mat-select placeholder="Location Type" name="locType" [(ngModel)]="locRequest.locationType" (change)="clearData()" required>
                                            <mat-option value="">--</mat-option>
                                            <mat-option *ngFor="let locType of locationTypes" value="{{locType.value}}">
                                                {{locType.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12" *ngIf="locRequest.locationType == 'COUNTRY' || locRequest.locationType == 'STATE'">
                                    <mat-form-field class="input-field">
                                        <mat-select placeholder="Select Country" name="country" [(ngModel)]="locRequest.countryId" (change)="fetchStates(locRequest.countryId)" [required]="locRequest.locationType == 'COUNTRY' || locRequest.locationType == 'STATE'">
                                            <mat-option value="0">--</mat-option>
                                            <mat-option *ngFor="let country of countries" value="{{country.countryId}}">
                                                {{country.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12" *ngIf="locRequest.locationType == 'STATE'">
                                    <mat-form-field class="input-field">
                                        <mat-select placeholder="Select State" name="states" [(ngModel)]="locRequest.stateId" [required]="locRequest.locationType == 'STATE'">
                                            <mat-option value="0">--</mat-option>
                                            <mat-option *ngFor="let state of states" value="{{state.stateId}}">{{state.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="col-md-12" *ngIf="locRequest.locationType == 'SPECIFIC_ADDRESS'">
                                    <mat-form-field class="input-field">
                                        <input matInput placeholder="Address" name="address" readonly (focus)="show()" [(ngModel)]="locRequest.address" [required]="locRequest.locationType == 'SPECIFIC_ADDRESS'">
                                    </mat-form-field>
                                </div>

                                <!--Map-->
                                <div class="col-md-12" *ngIf="showMap">
                                    <mat-card>

                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <mat-form-field class="input-field">
                                                    <mat-select placeholder="Select Country" name="countryCode" (change)="setMapRestriction()" [(ngModel)]="countryCode">
                                                        <mat-option value="">ALL</mat-option>
                                                        <mat-option *ngFor="let country of countries" value="{{country.code}}">
                                                            {{country.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-12">
                                                <mat-form-field class="input-field mb-4">
                                                    <input matInput placeholder="Search Address" name="search" id="autocompleteInput">
                                                    <mat-hint class="alignment text-brand  cursor" (click)="getCurrentPosition(true)"><i class="material-icons">place</i> Use current location
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomSize" (mapClick)="mapClicked($event)">
                                            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="draggable" (dragEnd)="markerDragEnd($event)"></agm-marker>

                                            <agm-circle [latitude]="lat" [longitude]="lng" [radius]="locRequest.radiusThreshold">
                                            </agm-circle>
                                        </agm-map>
                                        <mat-form-field class="input-field mt-3">
                                            <input matInput placeholder="Radius" type="number" (focus)="zoomInMap()" (focusout)="zoomInMap(false)" name="radius" [(ngModel)]="locRequest.radiusThreshold">
                                        </mat-form-field>
                                    </mat-card>
                                </div>


                                <!--resumption time-->
                                <ng-container *ngIf="locRequest.locationType">
                                    <div class="col-md-12">
                                        <mat-form-field class="input-field">
                                            <input matInput type="time" pattern="[0-9]{2}:[0-9]{2}" placeholder="Resumption Time" name="rTime" [(ngModel)]="resumption">
                                            <mat-hint>Format (HH:MM AM/PM)</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 mt-4" *ngIf="resumption">
                                        <mat-form-field class="input-field">
                                            <mat-select placeholder="Select Timezone" name="timezone" [(ngModel)]="locRequest.resumptionTimezoneId">
                                                <mat-option value="">--</mat-option>
                                                <mat-option *ngFor="let timezone of timezones" value="{{timezone.zoneId}}">
                                                    {{timezone.zoneId}} ({{timezone.offset}})
                                                </mat-option>
                                            </mat-select>
                                            <mat-hint *ngIf="resumption">Required</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </ng-container>

                                <!--grace period-->
                                <div class="col-md-12" *ngIf="locRequest.locationType && resumption">
                                    <mat-form-field class="input-field">
                                        <input matInput type="number" min="0" placeholder="Enter a grace period in minutes" name="gracePeriod" [(ngModel)]="locRequest.gracePeriodInMinutes">
                                    </mat-form-field>
                                </div>

                                <ng-container *ngIf="!editMode && locRequest.locationType">
                                    <div class="col-md-12">
                                        <h5 class="text-brand mt-2 mb-2">Add Employee to Location</h5>
                                    </div>


                                    <div class="col-md-12">
                                        <mat-form-field class="input-field mb-4 demo-chip-list">
                                            <mat-chip-list #chipList>
                                                <mat-chip *ngFor="let email of inviteEmails" [selectable]="true" [removable]="true" (remove)="removeEmail(email)">
                                                    {{email}}
                                                    <mat-icon matChipRemove>cancel</mat-icon>
                                                </mat-chip>
                                                <input placeholder="Enter Email Address (es)" (focusout)="addEmails($event)" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addEmails($event)" />
                                            </mat-chip-list>
                                            <mat-hint>Separate multiple entries with comma. Press Enter key to confirm entry
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12">
                                        <mat-checkbox name="addNew" [(ngModel)]="addNewLoc">Save location and create another
                                        </mat-checkbox>
                                    </div>
                                </ng-container>

                                <div class="col-md-12 mt-3">
                                    <button mat-raised-button class="px-4 primary-outline py-1" type="button" (click)="cancel()">CANCEL</button>

                                    <button mat-raised-button color="primary" class="px-4 primary-outline py-1 mr-2">
                                            SAVE
                                        <img *ngIf="loading" src="assets/img/loading.gif" style="max-width: 20px;"/>
                                        </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-card>
            </div>


            <!--<div class="col-md-12 pt-4 text-right">
                <button mat-raised-button color="primary" [disabled]="addLocationForm.invalid" class="mat-btn" type="submit">{{editMode? 'SAVE':'PROCEED'}}</button>
            </div>-->
        </div>
    </form>
</div>


<!--<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Map</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="col-md-12">
            <div class="row p-md-3 p-0">

                <div class="col-md-6">
                    <mat-form-field class="input-field" *ngIf="!addRange">
                        <mat-select placeholder="Select Country" name="countryCode"
                                    (change)="setMapRestriction()"
                                    [(ngModel)]="countryCode">
                            <mat-option value="">ALL</mat-option>
                            <mat-option *ngFor="let country of countries" value="{{country.code}}">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field *ngIf="!addRange" class="input-field">
                        <input matInput placeholder="Search" id="autocompleteInput">
                    </mat-form-field>

                    <mat-form-field *ngIf="addRange" class="input-field">
                        <input matInput type="number" placeholder="Enter Radius" name="radius"
                               [(ngModel)]="locRequest.radiusThreshold">
                    </mat-form-field>
                </div>

                <div class="col-md-4 text-right">
                    <button (click)="useAddress()" mat-raised-button color="primary" class="mat-btn">USE</button>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomSize" (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="draggable"
                            (dragEnd)="markerDragEnd($event)"></agm-marker>

                <agm-circle *ngIf="addRange" [latitude]="lat" [longitude]="lng"
                            [radius]="locRequest.radiusThreshold">
                </agm-circle>
            </agm-map>
        </div>
    </div>
</ng-template>-->