<form class="pt-5">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <mat-form-field class="input-field">
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      
      <div class="col-12">
        <mat-form-field class="input-field">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
    
      <div class="col-12 text-right pt-3 pb-4"> 
        <small>CAN'T REMEMBER PASSWORD</small>
      </div>
    
      <div class="col-md-12">
          <button mat-raised-button color="accent" class="auth-btn">LOGIN</button>
      </div>     
  </div>
</div>
</form>