.textDecor :before,
.textDecor :after {
    content: " ";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #d6d3d3;
    /* box-shadow: rgba(214, 211, 211, 0.7) 1px 1px 8px; */
    margin-top: 10px;
}

.textDecor :before {
    margin-left: -35%;
}

.textDecor :after {
    margin-left: 5%;
}

.login-text {
    font-size: 24px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) {
    #loginBtn {
        width: 100%;
    }
}