<div class="container py-5 h-100">

  <div class="row justify-content-center h-100 align-items-center">

      <div class="col-md-4 hidden-xs-down pr-md-0">
        <mat-card class="logo-carousel">
            
        </mat-card>
      </div>

      <div class="col-md-6  pl-md-0">
          <mat-card class="auth">
              <mat-tab-group>
                  <mat-tab label="LOGIN">
                    <app-login></app-login>
                  </mat-tab>
                  <mat-tab label="REGISTER">
                    <app-register></app-register>
                  </mat-tab>
                </mat-tab-group>
                
          </mat-card>
      </div>

  </div>

</div>