<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 mr-auto col-md-7">
        <div class="row p-lg-5 p-md-3 p-3 justify-content-center">
          
          <div class="col-md-9">
            <div class="row">
              <div class="col-lg-8 col-md-12 text-lg-left text-md-center text-center">
                <h4>Choose a plan that works for you</h4>
              </div>
              <div class="col-lg-4 col-md-12 text-lg-right text-md-center  text-center">
                Monthly <mat-slide-toggle> Yearly (20% OFF)</mat-slide-toggle>
              </div>
            </div>
          </div>

          <div class="col-12 pt-5"></div>


          <div class="col-lg-3 col-md-4 col-12 text-center">
            <mat-card class="py-lg-5 p-md-2 p-0">
              <div class="display-2-0">
                <sup>₦</sup><b>30,000</b><sub>/mth</sub>
              </div>
              <h1 class="font-weight-bold pt-5">Basic Plan</h1>

              <ul class="list-group">
                <li class="list-group-item  border-0">Ultimate Features</li>
                <li class="list-group-item  border-0">Responsive Ready</li>
                <li class="list-group-item  border-0">Visual Composer Included</li>
                <li class="list-group-item  border-0">24/7 Support System</li>
              </ul>

              <button mat-raised-button color="accent" class="auth-btn mt-5">SUBSCRIBE</button>
            </mat-card>
          </div>

          <div class="col-lg-3 col-md-4 col-12 text-center">
            <mat-card class="py-lg-5 p-md-2 p-0">
              <div class="display-2-0">
                <sup>₦</sup><b>30,000</b><sub>/mth</sub>
              </div>
              <h1 class="font-weight-bold pt-5">Pro Plan</h1>

              <ul class="list-group">
                <li class="list-group-item  border-0">Ultimate Features</li>
                <li class="list-group-item  border-0">Responsive Ready</li>
                <li class="list-group-item  border-0">Visual Composer Included</li>
                <li class="list-group-item  border-0">24/7 Support System</li>
              </ul>

              <button mat-raised-button color="accent" class="auth-btn mt-5">GO PRO</button>
            </mat-card>
          </div>

          <div class="col-lg-3 col-md-4 col-12 text-center">
            <mat-card class="py-lg-5 p-md-2 p-0">
              <div class="display-2-0">
                <sup>₦</sup><b>30,000</b><sub>/mth</sub>
              </div>
              <h1 class="font-weight-bold pt-5">Pro+ Plan</h1>

              <ul class="list-group">
                <li class="list-group-item  border-0">Ultimate Features</li>
                <li class="list-group-item  border-0">Responsive Ready</li>
                <li class="list-group-item  border-0">Visual Composer Included</li>
                <li class="list-group-item  border-0">24/7 Support System</li>
              </ul>

              <button mat-raised-button color="accent" class="auth-btn mt-5">GO PRO+</button>
            </mat-card>
          </div>

        </div>
    </div>
    <div class="col-lg-2 ml-auto col-md-5 p-0 d-none d-sm-block sidebar sticky-right bg-brand">
        <carousel class="h-100">
          <slide class="h-100">
            <img src="assets/img/testimonial-2.png" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption text-black">
              <h3>CEO Hitman LTD</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </slide>
          <slide class="h-100">
            <img src="assets/img/testimonial.png" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption text-black">
              <h3>CEO Nereus LTD</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </slide>
        </carousel>
    </div>
  </div>
</div>
