<app-loading></app-loading>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 p-0 mt-3">
            <div class="row m-3 justify-content-center">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 text-lg-left text-md-center text-center">
                            <h5 class="text-capitalize text-brand pt-3">Choose a plan that works for you</h5>
                        </div>
                        <div class="col-lg-4 col-md-12 text-lg-right text-md-center  text-center">
                            <!-- Monthly
                            <mat-slide-toggle> Yearly (20% OFF)</mat-slide-toggle> -->
                            <mat-form-field>
                                <mat-select placeholder="Select Currency" name="selectedCurrency"
                                            [(ngModel)]="selectedCurrency" (change)="onChange()">
                                    <mat-option select value="NGN">NGN</mat-option>
                                    <mat-option select *ngFor="let e of exchangeRates" value="{{e.target}}">
                                        {{e.target}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="text-center pl-5 mt-0 pt-0">
                                <!-- <mat-checkbox>Check me!</mat-checkbox> -->
                                <!--<div class="form-check">-->
                                <!--<label class="form-check-label">-->
                                <!--<input type="checkbox" class="form-check-input">-->
                                <!--Auto Renewal-->
                                <!--</label>-->
                                <!--</div>-->
                            </div>
                            <p class="text-brand text-right font-weight-bold cursor" *ngIf="subscription"><a
                                routerLink="/portal/subscription-history">View subscription history</a></p>

                        </div>
                    </div>

                    <!-- <h5 class="text-capitalize text-brand">Choose a plan that works for you</h5> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed elit vitae magna ornare ornare. Curabitur lacus magna, ultricies ultrices ultricies venenatis, dapibus ut libero.</p> -->

                    <!-- <div class="text-right">
                        <mat-checkbox>Check me!</mat-checkbox>
                    </div> -->

                    <div>
                        Yearly ({{discountRate}}% OFF)
                        <mat-slide-toggle name="durationToggle" [(ngModel)]="monthlyPlan"> Monthly</mat-slide-toggle>
                    </div>
                </div>

                <!-- <div>
                    Monthly
                    <mat-slide-toggle> Yearly (20% OFF)</mat-slide-toggle>
                </div> -->

                <div class="col-xl-3 col-lg-6 col-md-12  col-12 pt-5 p-0 p-md-3 text-center"
                     *ngFor="let plan of subscriptionPlans">
                    <mat-card
                        [ngClass]="{'py-lg-5 p-md-2 p-3 subscribe-plan text-white h-100 equal-row': true, 'active-subscription': plan.planId == subscription?.subscriptionPlanId}">

                        <h2>{{plan.name}}</h2>
                        <h4 class="py-3">
                            <!--{{monthlyPlan? (plan.pricePerMonth | currency:'NGN':'symbol-narrow':'4.0'):(plan.pricePerAnnum | currency:'NGN':'symbol-narrow':'4.0')}}-->
                            <ng-container *ngIf="plan.maxAttendeeThreshold > 0">{{getPrice(plan) | currency:selectedCurrency:'symbol-narrow':'1.0'}}</ng-container>
                            <ng-container *ngIf="plan.maxAttendeeThreshold == 0">
                                <span *ngIf="plan?.maxAttendeeThreshold == 0" class="small" (click)="gotoContactPage()">CONTACT US
                                </span>

                            </ng-container>
                        </h4>

                        <ul class="list-group mb-4" *ngIf="plan.planId != subscription?.subscriptionPlanId">
                            <li class="list-group-item  border-0" *ngFor="let features of plan.planFeatures">{{features}}</li>
                        </ul>
                        <ul class="list-group pt-3" *ngIf="plan.planId == subscription?.subscriptionPlanId">
                            <li class="list-group-item border-0">
                                <p>Renewal Date: <span class="pl-1 text-brand font-weight-bold">{{getRenewalDate() | date:'longDate'}}</span>
                                </p>
                                <p>Auto Renewal: <span class="pl-1 text-brand font-weight-bold">{{(subscription?.autoRenew)? 'ON':'OFF'}}</span>
                                </p>
                                <p>Status: <span class="pl-1 text-brand font-weight-bold">{{subscription?.subscriptionStatus}}</span>
                                </p>
                            </li>
                            <li class="list-group-item border-0"></li>
                        </ul>
                        <!-- <div class="mt-5">
                            <mat-checkbox>Go Yearly(10% Off)</mat-checkbox>
                            Monthly
                            <mat-slide-toggle> Yearly (20% OFF)</mat-slide-toggle>
                        </div> -->
                        <ng-container *ngIf="plan.maxAttendeeThreshold > 0">
                        <button *ngIf="plan.planId != subscription?.subscriptionPlanId || (plan.planId == subscription?.subscriptionPlanId && subscription?.subscriptionStatus == 'EXPIRED')" mat-raised-button
                                color="primary" class="px-4 py-2"
                                (click)="confirmPayment(plan, confirmPaymentTemplate)">SUBSCRIBE
                        </button>
                        </ng-container>
                        <p *ngIf="(plan.planId == subscription?.subscriptionPlanId)" mat-raised-button
                                color="primary" class="px-4 py-2">CURRENT PLAN
                        </p>
                        <button
                            *ngIf="(plan.planId == subscription?.subscriptionPlanId) && (subscription?.billingCycle == 'MONTHLY' && !monthlyPlan) && subscription?.subscriptionStatus != 'EXPIRED'"
                            mat-raised-button color="primary" class="px-4 py-2" (click)="confirmPayment(plan,
                            confirmPaymentTemplate)">
                            UPGRADE PLAN
                        </button>
                        <button *ngIf="plan?.maxAttendeeThreshold == 0" mat-raised-button
                                color="primary" class="px-4 py-2" (click)="gotoContactPage()">CONTACT US
                        </button>

                    </mat-card>
                </div>

            </div>
            <!--<p class="text-brand text-right font-weight-bold cursor" *ngIf="subscription"><a-->
                <!--routerLink="/portal/subscription-history">View subscription history</a></p>-->
        </div>

    </div>
</div>

<ng-template #confirmPaymentTemplate>
    <!-- <div class="modal-header">
        <h4 class="modal-title text-brand text-center">Subscription Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <div class="modal-body">
        <h5 class="modal-title text-brand text-center pb-2">Subscription Details</h5>
        <p class="text-center pl-lg-5 pr-lg-5">Thank you for deciding to subscribe to iClocker. Please find below
            details of your plan.</p>

        <div class="pl-lg-5 pr-lg-5">
            <p class=""><span class="text-brand font-weight-bold">Plan</span><br>{{selectedPlan.name}}</p>
            <p class=""><span class="text-brand font-weight-bold">Subscription Type</span><br>{{monthlyPlan?
                'Monthly':'Yearly'}}</p>
            <p class=""><span class="text-brand font-weight-bold">Amount</span><br>{{getPrice(selectedPlan) |
                currency:selectedCurrency:'symbol-narrow':'2.0'}}</p>

            <hr>

            <div class="p-0 row col-md-12">
                <div class="col-md-7">
                    <p class="text-brand font-weight-bold">Sub Total</p>
                </div>
                <div class="col-md-5">
                    <p>{{getPrice(selectedPlan) | currency:selectedCurrency:'symbol-narrow':'2.0'}}</p>
                </div>
                <ng-container *ngIf="proratedAmount">
                <div class="col-md-7">
                    <p class="text-brand font-weight-bold">Prorated amount (Due to switch)</p>
                </div>
                <div class="col-md-5">
                    <p>{{proratedAmount | currency:selectedCurrency:'symbol-narrow':'1.0'}}</p>
                </div>
                </ng-container>

                <div class="col-md-7">
                    <p class="text-brand font-weight-bold">Special Offer({{monthlyPlan? 0:discountRate}}% off)</p>
                </div>
                <div class="col-md-5">
                    <p>{{discountPrice | currency:selectedCurrency:'symbol-narrow':'1.0'}}</p>
                </div>
            </div>

            <hr>
            <div class="p-0 row col-md-12">
                <div class="col-md-7">
                    <p class="text-brand font-weight-bold">Total</p>
                </div>
                <div class="col-md-5">
                    <p>{{amountToPay | currency:selectedCurrency:'symbol-narrow':'1.0'}}</p>
                </div>
            </div>


            <div class="col-md-12 mt-3 text-center mb-4">
                <button mat-raised-button class="px-4 primary-outline py-1" type="button" (click)="modalRef.hide()">
                    CANCEL
                </button>
                <button mat-raised-button color="primary" class="px-4 primary-outline py-1 mr-2"
                        (click)="subscribe(selectedPlan)">Continue to Payment
                </button>
            </div>

        </div>

    </div>
</ng-template>

<ng-template #warningTemplate>
    <div class="modal-header" style="border-bottom: none">
        <h5 class="modal-title text-brand mx-auto">Important Notice</h5>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    </div>
    <div class="modal-body">
        <div class="text-center">
            <img src="assets/img/caution.png" alt="" class="img-fluid" style="max-width: 78px;">
        </div>
        <p class="text-center pt-2">You are about to subscribe to a service that doesn't support your employees range. You are advised to either
        <a routerLink="/portal/manage-users">Deactivate</a> some of your employees or choose a suitable plan
        </p>

        <div class="col-md-12 text-md-center text-center pt-3 pb-4">
            <button mat-raised-button color="primary" type="button" (click)="modalRef.hide()" class="primary-outline">
                Close
            </button>

        </div>

    </div>
</ng-template>

