<div class="container-fluid">
    <div class="row pt-4 equal-row">
        <div class="col-lg-6">
            <mat-card>
                <h4>Login and Security</h4>
                <mat-divider></mat-divider>
                <div class="row pt-lg-3 pt-4">
                    <div class="col-lg-4">
                        <h6>Email</h6>
                    </div>
                    <div class="col-lg-6 text-left">
                        <p>Grace.cole@yahoo.com</p>
                    </div>
                    <div class="col-lg-2"><a href="#">Edit</a></div>
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 pt-lg-0 pt-2">Primary mail:</div>
                                <div class="col-lg-6 text-lg-center text-left pt-lg-0 pt-2 pb-lg-0 pb-2">Grace.cole@yahoo.com</div>
                                <div class="col-lg-3"><a href="#">Remove</a></div>
                                <div class="col-lg-12 pt-2 pb-2"><a href="#">Add New Email Address</a></div>
                                <div class="col-lg-12">
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Email Address" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="col-lg-12 d-line pt-0">
                                    <!-- <mat-checkbox>Set as Primary Email</mat-checkbox> -->
                                    <input type="checkbox" name="" id="" class="d-inline">
                                    <p class="d-inline">Set as Primary Email</p>
                                </div>
                                <div class="col-lg-12 pt-3 pb-lg-4 pb-5">
                                    <button mat-button class="primary-outline mr-3">Cancel</button>
                                    <button mat-raised-button color="primary" class="primary-outline">Save and Verify</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <mat-divider></mat-divider>
                <div class="row pt-lg-3 pt-5 pb-2">
                    <div class="col-lg-4 pb-lg-0 pb-2">
                        <h6>Address</h6>
                    </div>
                    <div class="col-lg-6">
                        <p>Plot 17 Everywhere You go Street</p>
                    </div>
                    <div class="col-lg-2"><a href="#">Edit</a></div>
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 pt-lg-0 pt-2">Address:</div>
                                <div class="col-lg-6 text-lg-center text-left pt-lg-0 pt-2 pb-lg-0 pb-2">Plot 17 Everywhere You go Street</div>
                                <div class="col-lg-3"><a href="#">Remove</a></div>
                                <div class="col-lg-12 pt-2 pb-2"><a href="#">Add New Address</a></div>
                                <div class="col-lg-12">
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Edit Address" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="col-lg-12 d-line pt-0">
                                    <!-- <mat-checkbox>Set as Primary Email</mat-checkbox> -->
                                    <input type="checkbox" name="" id="" class="d-inline">
                                    <p class="d-inline">Set as default Address</p>
                                </div>
                                <div class="col-lg-12 pt-3 pb-4">
                                    <button mat-button class="primary-outline mr-3">Cancel</button>
                                    <button mat-raised-button color="primary" class="primary-outline">Save and Verify</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row pt-lg-3 pt-5 pb-2">
                    <div class="col-lg-4 pb-lg-0 pb-2">
                        <h6>Phone</h6>
                    </div>
                    <div class="col-lg-6">
                        <p>09012376478</p>
                    </div>
                    <div class="col-lg-2"><a href="#">Edit</a></div>
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 pt-lg-0 pt-2">Phone Number:</div>
                                <div class="col-lg-6 text-lg-center text-left pt-lg-0 pt-2 pb-lg-0 pb-2">09012376478</div>
                                <div class="col-lg-3"><a href="#">Remove</a></div>
                                <div class="col-lg-12 pt-2 pb-2"><a href="#">Add New Phone Number</a></div>
                                <div class="col-lg-12">
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Edit Phone Number" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="col-lg-12 d-line pt-0">
                                    <!-- <mat-checkbox>Set as Primary Email</mat-checkbox> -->
                                    <input type="checkbox" name="" id="" class="d-inline">
                                    <p class="d-inline">Set as default Phone Number</p>
                                </div>
                                <div class="col-lg-12 pt-3 pb-4">
                                    <button mat-button class="primary-outline mr-3">Cancel</button>
                                    <button mat-raised-button color="primary" class="primary-outline">Save and Verify</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row pt-lg-3 pt-5 pb-2">
                    <div class="col-lg-4 pb-lg-0 pb-2">
                        <h6>Change Password</h6>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-2"><a href="#">Change</a></div>
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 d-line pt-lg-3 pt-2">
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Old Password" value="">
                                        </mat-form-field> <br>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="New Password" value="">
                                        </mat-form-field> <br>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Confirm Password" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="col-lg-12 pt-3 pb-4">
                                    <button mat-button class="primary-outline mr-3">Cancel</button>
                                    <button mat-raised-button color="primary" class="primary-outline">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>