<app-loading></app-loading>
<mat-divider></mat-divider>

<mat-tab-group class="employee" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Active">
        <div class="container-fluid pr-lg-3 pl-lg-3">

            <div class="row mt-3">
                <div class="col-md-4"></div>

                <div class="col-md-5"></div>

                <div class="col-md-3 text-lg-right" *ngIf="locations.length > 0">

                    <div class="form-group position-relative">
                        <input class="form-control w-100" placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon class="searchIcon" *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px;position: absolute;top: 25%;right: 1%;">cancel</mat-icon>
                        <mat-icon class="searchIcon" *ngIf="!searchValue" class="cursor" (click)="search()" style="position: absolute;top: 25%;right: 1%;">search</mat-icon>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="search()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div> -->

            <div class="row mt-4">
                <div class="col-lg-4 col-md-4 d-flex align-items-center">

                    <div class="form-group responsive-width mb-0">
                        <select class="form-control" id="location" name="location" [(ngModel)]="selectedLocId" (change)="fetchUsers()">
                                            <option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All Locations</option>
                                            <ng-container *ngFor="let loc of locations">
                                                    <option [value]="loc.locId"> {{ loc.name }}</option>
                                                </ng-container>
                                        </select>
                    </div>

                    <!-- <mat-form-field>
                        <mat-select placeholder="" name="location" [(ngModel)]="selectedLocId" (change)="fetchUsers()">
                            <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All Locations</mat-option>
                            <ng-container *ngFor="let loc of locations">
                                <mat-option [value]="loc.locId">
                                    {{ loc.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field> -->
                </div>

                <div class="col-lg-4 col-md-4 d-xl-block text-md-center pt-md-0 pt-4">
                    <ng-container *ngIf="isChecked()">
                        <button *ngIf="selectedLocId" mat-raised-button color="primary" (click)="groupActions('ASSIGN')" class="primary-outline" id="reassign">Reassign
                        </button>
                        <button mat-button class="primary-outline" (click)="groupActions('DE_ACTIVATE')" id="deactivate">Deactivate
                        </button>
                    </ng-container>
                </div>

                <div class="col-lg-4 col-md-4 d-flex align-items-center pt-xl-0 pt-3 my-auto">
                    <!-- <div class="ml-md-auto mr-auto"> -->
                    <div class="ml-md-auto">
                        <a class="text-right" role="button" (click)="openInviteModal()" id="invite">
                            <p class="cursor text-brand my-auto">INVITE NEW EMPLOYEE</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" *ngIf="currentTab == 0">

            <div class="table-responsive" *ngIf="totalItems > 0">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col" *ngIf="mf.data.length > 0">
                                <mat-checkbox name="selAll" [(ngModel)]="selAll" (change)="selectAll($event)"></mat-checkbox>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Phone Number</th>
                            <!--<th scope="col">Status</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data; let i = index">
                            <th>
                                <mat-checkbox name="check{{i}}" [(ngModel)]="d.checked" (click)="selectOne($event)"></mat-checkbox>
                            </th>
                            <td data-label="name">
                                <p class="cursor text-brand mb-0" (click)="gotoOverview(d.email)">{{d.firstName }} {{ d.lastName}}</p>
                            </td>
                            <td data-label="email">{{d.email}}</td>
                            <td class="phone" data-label="phone">
                                <ng-container *ngIf="d.phone">{{d.phoneCode? (d.phoneCode.charAt(0) == "+"? d.phoneCode: "+" + d.phoneCode): "+234" }} {{ d.phone}}</ng-container>
                            </td>
                            <!--<td>{{d.status? 'Active':'Inactive'}}</td>-->
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="row justify-content-between" *ngIf="totalItems > 0">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>

                            <div class="form-group w-25">
                                <select class="form-control" name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                                <option [value]="10">10</option>
                                                <option [value]="25">25</option>
                                                <option [value]="50">50</option>
                                                <option [value]="10">10</option>
                                            </select>
                            </div>

                            <!-- <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 0" [totalItems]="totalItems" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>


        </div>
    </mat-tab>

    <mat-tab label="Deactivated">


        <div class="container-fluid pr-lg-3 pl-lg-3">

            <div class="row mt-3">
                <div class="col-md-4"></div>

                <div class="col-md-5"></div>

                <div class="col-md-3 text-lg-right" *ngIf="locations.length > 0">

                    <div class="form-group position-relative">
                        <input class="form-control w-100" placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon class="searchIcon" *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px;position: absolute;top: 25%;right: 1%;">cancel</mat-icon>
                        <mat-icon class="searchIcon" *ngIf="!searchValue" class="cursor" (click)="search()" style="position: absolute;top: 25%;right: 1%;">search</mat-icon>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="search()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div> -->

            <div class="row mt-4">
                <div class="col-lg-4 col-md-4 d-flex align-items-center">

                    <div class="form-group responsive-width">
                        <select class="form-control" id="location" name="location" [(ngModel)]="selectedLocId" (change)="fetchUsers()">
                                            <option  value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All Locations</option>
                                            <ng-container *ngFor="let loc of locations">
                                                    <option  [value]="loc.locId">
                                                            {{ loc.name }}</option>
                                                </ng-container>
                                        </select>
                    </div>

                    <!-- <mat-form-field>
                        <mat-select placeholder="" name="location" [(ngModel)]="selectedLocId" (change)="fetchUsers()">
                            <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All Locations</mat-option>
                            <ng-container *ngFor="let loc of locations">
                                <mat-option [value]="loc.locId">
                                    {{ loc.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field> -->
                </div>

                <div class="col-lg-4 col-md-4 text-md-center text-left">
                    <ng-container *ngIf="isChecked()">
                        <button *ngIf="selectedLocId" mat-raised-button color="primary" (click)="groupActions('ASSIGN')" class="primary-outline" id="re-assign">Reassign
                        </button>
                        <button mat-button class="primary-outline" (click)="groupActions('ACTIVATE')" id="activate">Activate</button>
                    </ng-container>
                </div>

                <div class="col-lg-4 col-md-4 d-flex align-items-center pt-md-0 pt-3 pb-md-0 pb-4">
                    <div class="ml-md-auto mr-auto">
                        <a class="text-right" role="button" (click)="openInviteModal()" id="invite">
                            <p class="cursor text-brand my-auto">INVITE NEW EMPLOYEE</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid" *ngIf="currentTab == 1">

            <div class="table-responsive" *ngIf="totalItems > 0">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col" *ngIf="mf.data.length > 0">
                                <mat-checkbox name="selAll" [(ngModel)]="selAll" (change)="selectAll($event)"></mat-checkbox>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Phone Number</th>
                            <!--<th scope="col">Status</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data; let i = index">
                            <th>
                                <mat-checkbox name="check{{i}}" [(ngModel)]="d.checked" (click)="selectOne($event)"></mat-checkbox>
                            </th>
                            <td>
                                <p class="cursor text-brand" (click)="gotoOverview(d.email)">{{d.firstName }} {{ d.lastName}}</p>
                            </td>
                            <td>{{d.email}}</td>
                            <td>
                                <ng-container *ngIf="d.phone">{{d.phoneCode? (d.phoneCode.charAt(0) == "+"? d.phoneCode: "+" + d.phoneCode): "+234" }} {{ d.phone}}</ng-container>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="row justify-content-between" *ngIf="totalItems > 0">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>

                            <div class="form-group w-25">
                                <select class="form-control" name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                                <option [value]="10">10</option>
                                                <option [value]="25">25</option>
                                                <option [value]="50">50</option>
                                                <option [value]="100">100</option>
                                            </select>
                            </div>

                            <!-- <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 1" [totalItems]="totalItems" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>


        </div>

    </mat-tab>
    <mat-tab label="Invited">

        <div class="container-fluid pr-lg-3 pl-lg-3">

            <div class="row mt-3">
                <div class="col-md-4"></div>

                <div class="col-md-5"></div>

                <div class="col-md-3 text-lg-right" *ngIf="locations.length > 0">

                    <div class="form-group position-relative">
                        <input class="form-control w-100" placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="searchInvitedUser()">
                        <mat-icon class="searchIcon" *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px;position: absolute;top: 25%;right: 1%;">cancel</mat-icon>
                        <mat-icon class="searchIcon" *ngIf="!searchValue" class="cursor" (click)="searchInvitedUser()" style="position: absolute;top: 25%;right: 1%;">search</mat-icon>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="searchInvitedUser()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="searchInvitedUser()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div> -->

            <div class="row mt-4">
                <div class="col-lg-4 col-md-4  d-flex align-items-center">

                    <div class="form-group responsive-width">
                        <select class="form-control" id="location" name="location" [(ngModel)]="selectedLocId" (change)="fetchInvitedUsers()">
                                            <option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All Locations</option>
                                            <ng-container *ngFor="let loc of locations">
                                                    <option [value]="loc.locId">{{ loc.name }}</option>
                                                </ng-container>
                                        </select>
                    </div>

                    <!-- <mat-form-field>
                        <mat-select placeholder="" name="location" [(ngModel)]="selectedLocId" (change)="fetchInvitedUsers()">
                            <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All Locations</mat-option>
                            <ng-container *ngFor="let loc of locations">
                                <mat-option [value]="loc.locId">
                                    {{ loc.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field> -->
                </div>

                <div class="col-lg-4 col-md-4 text-md-center text-left">
                    <ng-container *ngIf="isChecked()">
                        <button *ngIf="selectedLocId" mat-raised-button color="primary" (click)="groupActions('ASSIGN')" class="primary-outline" id="reAssign">Reassign
                        </button>
                        <button mat-button class="primary-outline" (click)="groupActions('ACTIVATE')" id="active">Activate</button>
                    </ng-container>
                </div>

                <div class="col-lg-4 col-md-4 d-flex align-items-center pt-md-0 pt-3 pb-md-0 pb-4">
                    <div class="ml-md-auto mr-auto">
                        <a class="text-right" role="button" (click)="openInviteModal()" id="invite">
                            <p class="cursor text-brand my-auto">INVITE NEW EMPLOYEE</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid" *ngIf="currentTab == 2">

            <div class="table-responsive" *ngIf="totalItems > 0">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <!--<th scope="col" *ngIf="mf.data.length > 0">-->
                            <!--<mat-checkbox name="selAll" [(ngModel)]="selAll" (change)="selectAll($event)"></mat-checkbox>-->
                            <!--</th>-->
                            <!--<th scope="col">Name</th>-->
                            <th scope="col">Email Address</th>
                            <!--<th scope="col">Phone Number</th>-->
                            <!--<th scope="col">Status</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data; let i = index">
                            <!--<th>-->
                            <!--<mat-checkbox name="check{{i}}" [(ngModel)]="d.checked" (click)="selectOne($event)"></mat-checkbox>-->
                            <!--</th>-->
                            <!--<td>-->
                            <!--<p class="cursor text-brand" (click)="gotoOverview(d.email)">{{d.firstName }} {{ d.lastName}}</p>-->
                            <!--</td>-->
                            <td>{{d.email}}</td>
                            <!--<td>{{d.phone}}</td>-->
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="row justify-content-between" *ngIf="totalItems > 0">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>

                            <div class="form-group w-25">
                                <select class="form-control" name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                                <option [value]="10">10</option>
                                                <option [value]="25">25</option>
                                                <option [value]="50">50</option>
                                                <option [value]="100">100</option>
                                            </select>
                            </div>

                            <!-- <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 2" [totalItems]="totalItems" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>


        </div>

    </mat-tab>
</mat-tab-group>


<ng-template #activateUserTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left text-brand">{{adr.status? 'Activate':'Deactivate'}} Employee(s)</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="col-md-12">
            <p>Are you sure you want to {{adr.status? 'Activate':'Deactivate'}} the selected employee(s).</p>
            <p>This means they will be {{adr.status? 'able':'unable'}} to clock in to your Company {{adr.status? '':'anymore'}}</p>
        </div>

        <div class="col-md-12 text-right">
            <button mat-raised-button color="danger" type="button" (click)="modalRef.hide()" id="cancel">CANCEL</button>
            <button mat-raised-button color="primary" type="button" (click)="activateDeactivateUser()" id="confirm">
                OK
                <img *ngIf="loading" src="assets/img/loading.gif" style="max-width: 20px;"/>
            </button>
        </div>


    </div>
</ng-template>

<ng-template #assignuserTemplate>
    <div class="modal-header">
        <h4 class="modal-title text-brand">Reassign Employee(s)</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row p-md-3 p-0">

            <div class="col-md-12">
                <p>Reassign the selected employee(s) to a new location</p>
            </div>

            <div class="col-md-8">

                <div class="form-group">
                    <select class="form-control" id="locId" name="locId" [(ngModel)]="assignRequestObj.newlocId">
                                        <option value="0">--</option>
                                        <ng-container *ngFor="let loc of locations">
                                                <option *ngIf="selectedLocId !== loc.locId" value="{{loc.locId}}">{{loc.name}}</option>
                                            </ng-container>
                                    </select>
                </div>

                <!-- <mat-form-field class="input-field">
                    <mat-select placeholder="Select Location" name="locId" [(ngModel)]="assignRequestObj.newlocId">
                        <mat-option value="0">--</mat-option>
                        <ng-container *ngFor="let loc of locations">
                            <mat-option *ngIf="selectedLocId !== loc.locId" value="{{loc.locId}}">{{loc.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field> -->
            </div>

            <div class="col-md-12 text-right">

                <button mat-raised-button color="danger" type="button" (click)="modalRef.hide()" id="cancelReassign">CANCEL</button>
                <button mat-raised-button color="primary" type="button" (click)="assignUser()" id="confirmReassign">
                    Reassign
                    <img *ngIf="loading" src="assets/img/loading.gif" style="max-width: 20px;"/>
                </button>
            </div>

        </div>
    </div>
</ng-template>


<!--EMPTY STATE-->
<div class="container" *ngIf="totalItems == 0">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center pt-5">
                <img class="w-75" src="assets/img/em.png" alt="Profile picture">
                <h1 class="pt-3 fade-msg">NO {{currentTab == 0? 'ACTIVE': currentTab == 1? 'DEACTIVATED':'INVITED'}} EMPLOYEE</h1>
                <a href="">
                    <!--<h4 class="pt-2 pb-5">INVITE NEW EMPLOYEE</h4>-->
                </a>
            </div>
        </div>
    </div>
</div>