<mat-divider></mat-divider>

<mat-tab-group class="employee" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Active">
        <div class="container-fluid pr-lg-3 pl-lg-3">
            <div class="row mt-4">
                <div class="col-lg-4 col-12  d-flex align-items-center">
                    <mat-form-field>
                        <mat-select placeholder="" name="location" [(ngModel)]="selectedLocId" (change)="fetchUsers()">
                            <mat-option value="">All Locations</mat-option>
                            <ng-container *ngFor="let loc of locations">
                                <mat-option [value]="loc.locId">
                                    {{ loc.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-12 text-md-center text-left">
                    <ng-container *ngIf="isChecked()">
                        <button *ngIf="selectedLocId" mat-raised-button color="primary" (click)="groupActions('ASSIGN')"
                                class="primary-outline">Reassign
                        </button>
                        <button mat-button class="primary-outline" (click)="groupActions('DE_ACTIVATE')">Deactivate
                        </button>
                    </ng-container>
                </div>

                <div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">
                    <div class="ml-md-auto mr-auto">
                        <a class="text-right" role="button" (click)="openInviteModal()">
                            <p>INVITE NEW EMPLOYEE</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" *ngIf="currentTab == 0">

            <div class="table-responsive">
                <table class="table table-striped" [mfData]="activeUsers" #mf="mfDataTable" [mfRowsOnPage]="12">
                    <thead>
                    <tr>
                        <th scope="col" *ngIf="mf.data.length > 0">
                            <mat-checkbox name="selAll" [(ngModel)]="selAll"
                                          (change)="selectAll($event)"></mat-checkbox>
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let d of mf.data; let i = index">
                        <th>
                            <mat-checkbox name="check{{i}}" [(ngModel)]="d.checked"
                                          (click)="selectOne($event)"></mat-checkbox>
                        </th>
                        <td>{{d.firstName }} {{ d.lastName}}</td>
                        <td>{{d.email}}</td>
                        <td>{{d.phone}}</td>
                        <td>{{d.status? 'Active':'Inactive'}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </mat-tab>

    <mat-tab label="Deactivated">


        <div class="container-fluid pr-lg-3 pl-lg-3">
            <div class="row mt-4">
                <div class="col-lg-4 col-12  d-flex align-items-center">
                    <mat-form-field>
                        <mat-select placeholder="" name="location" [(ngModel)]="selectedLocId" (change)="fetchUsers()">
                            <mat-option value="">All Locations</mat-option>
                            <ng-container *ngFor="let loc of locations">
                                <mat-option [value]="loc.locId">
                                    {{ loc.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-12 text-md-center text-left">
                    <ng-container *ngIf="isChecked()">
                        <button *ngIf="selectedLocId" mat-raised-button color="primary" (click)="groupActions('ASSIGN')"
                                class="primary-outline">Reassign
                        </button>
                        <button mat-button class="primary-outline" (click)="groupActions('ACTIVATE')">Activate</button>
                    </ng-container>
                </div>

                <div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">
                    <div class="ml-md-auto mr-auto">
                        <a class="text-right" role="button" (click)="openInviteModal()">
                            <p>INVITE NEW EMPLOYEE</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid" *ngIf="currentTab == 1">

            <div class="table-responsive">
                <table class="table table-striped" [mfData]="inactiveUsers" #mf="mfDataTable" [mfRowsOnPage]="12">
                    <thead>
                    <tr>
                        <th scope="col" *ngIf="mf.data.length > 0">
                            <mat-checkbox name="selAll" [(ngModel)]="selAll"
                                          (change)="selectAll($event)"></mat-checkbox>
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let d of mf.data; let i = index">
                        <th>
                            <mat-checkbox name="check{{i}}" [(ngModel)]="d.checked"
                                          (click)="selectOne($event)"></mat-checkbox>
                        </th>
                        <td>{{d.firstName }} {{ d.lastName}}</td>
                        <td>{{d.email}}</td>
                        <td>{{d.phone}}</td>
                        <td>{{d.status? 'Active':'Inactive'}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>

    </mat-tab>
    <mat-tab label="Invited"></mat-tab>
</mat-tab-group>


<ng-template #activateUserTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{adr.status? 'Activate':'Deactivate'}} Attendee(s)</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="col-md-12">
            <p>Are you sure you want to {{adr.status? 'Activate':'Deactivate'}} the selected attendee(s).</p>
            <p>This means they will be unable to clock in to your institution anymore</p>
        </div>

        <div class="col-md-12 text-right">
            <button mat-raised-button color="danger" type="button">CANCEL</button>
            <button mat-raised-button color="primary" type="button" (click)="activateDeactivateUser()">OK</button>
        </div>


    </div>
</ng-template>

<ng-template #assignuserTemplate>
    <div class="modal-header">
        <h4 class="modal-title">Reassign Attendee(s)</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row p-md-3 p-0">

            <div class="col-md-12">
                <p>Reassign the selected attendee(s) to a new location</p>
            </div>

            <div class="col-md-8">
                <mat-form-field class="input-field">
                    <mat-select placeholder="Select Location" name="locId" [(ngModel)]="assignRequestObj.newlocId">
                        <mat-option value="0">--</mat-option>
                        <ng-container *ngFor="let loc of locations">
                            <mat-option *ngIf="selectedLocId !== loc.locId" value="{{loc.locId}}">{{loc.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12 text-right">
                <button mat-raised-button color="danger" type="button" (click)="modalRef.hide()">CANCEL</button>
                <button mat-raised-button color="primary" type="button" (click)="assignUser()">Reassign</button>
            </div>

        </div>
    </div>
</ng-template>