<mat-divider></mat-divider>

<mat-tab-group class="employee">
    <mat-tab label="Early">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-lg-4 col-12  d-flex align-items-center">
                    <mat-form-field>
                        <mat-select placeholder="All Locations">
                            <mat-option>

                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-12 text-md-center text-left pt-lg-3">
                    <button mat-button class="primary-outline">Download</button>
                </div>

                <div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">
                    <div class="ml-md-auto mr-auto">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2 form-search" type="search" placeholder="" aria-label="Search">
                            <button class="btn btn-search"><mat-icon class="mat-search">search</mat-icon></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th scope="col">Clock-In Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                        <tr>
                            <td>J Cole</td>
                            <td>J_cole@xys.com</td>
                            <td>Ikoyi Branch</td>
                            <td>12/12/12</td>
                            <td>2:30pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pb-lg-0 pb-4">
                <a href="#">
                    <mat-icon class="mr-1 d-flex pt-4">arrow_back</mat-icon><span class="pl-4">Go Back</span></a>
            </div>


        </div>
    </mat-tab>

    <mat-tab label="Late"></mat-tab>
    <mat-tab label="Absent"></mat-tab>
    <mat-tab label="Wrong location"></mat-tab>
</mat-tab-group>