<app-loading></app-loading>
<mat-tab-group class="employee" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Early">
        <div class="container-fluid">

            <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="search()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div>

            <div class="row mt-4">

                <!--<div class="col-md-12"><p>Report for {{selectedDate | date:'fullDate'}} as at {{reportDate | date:'shortTime'}}</p></div>-->

                <div class="col-lg d-lg-flex align-items-center">
                    <div class="col">
                        <mat-form-field>
                            <mat-select name="loc" [(ngModel)]="reportModel.locId" (change)="locationChange()">
                                <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All location</mat-option>
                                <mat-option [value]="loc.locId" *ngFor="let loc of locations">{{loc.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg">
                        <mat-form-field>
                            <mat-select name="reportPeriod" [(ngModel)]="reportPeriod" (change)="filterReport()">
                                <mat-option value="TODAY">TODAY</mat-option>
                                <mat-option value="WEEKLY">THIS WEEK</mat-option>
                                <mat-option value="MONTHLY">THIS MONTH</mat-option>
                                <mat-option value="DATE_RANGE">DATE RANGE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container>
                        <div class="col-lg d-inline-flex">
                            <mat-form-field *ngIf="reportPeriod == 'DATE_RANGE'">
                                <input matInput [matDatepicker]="earlyStart" placeholder="Start date" [max]="dateObj" name="date" [(ngModel)]="selectedStartDate" (dateChange)="onDatePickerToggle()" (click)="earlyStart.open()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="earlyStart"></mat-datepicker-toggle>
                                <mat-datepicker #earlyStart disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <!--<mat-icon class="cursor date-style" (click)="earlyStart.open()">date_range</mat-icon>-->
                        </div>

                        <div class="col-lg d-inline-flex">
                            <mat-form-field *ngIf="reportPeriod == 'DATE_RANGE'">
                                <input matInput [matDatepicker]="earlyEnd" placeholder="End date" [max]="dateObj" name="date" [(ngModel)]="selectedEndDate" (dateChange)="onDatePickerToggle()" (click)="earlyEnd.open()" s readonly>
                                <mat-datepicker-toggle matSuffix [for]="earlyEnd"></mat-datepicker-toggle>
                                <mat-datepicker #earlyEnd disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <!--<mat-icon class="cursor date-style" (click)="earlyEnd.open()">date_range</mat-icon>-->
                        </div>
                    </ng-container>

                </div>

                <div class="col-lg col-md-12  text-left pt-lg-2 pl-lg-4 pl-4 pb-lg-0 pb-4 mb-lg-3">
                    <button mat-button class="primary-outline" (click)="openModal(downloadTemplate)" *ngIf="data.length > 0">Download</button>

                </div>
            </div>
        </div>

        <div class="container-fluid" *ngIf="currentTab == 0">

            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Mode of Clock-In</th>
                            <th scope="col">Date</th>
                            <th scope="col">Clock-In Time</th>
                            <th scope="col">Clock-Out Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data">
                            <td>{{d.name}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.location}}</td>
                            <td>{{d.mode}}</td>
                            <td>{{d.date}}</td>
                            <td>{{d.clock_in_time}}</td>
                            <td>{{d.clock_out_time}}</td>
                            <td><i (click)="viewDetails(d)" matTooltip="View More" class="material-icons cursor">list</i>
                            </td>
                        </tr>
                </table>
            </div>

            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>
                            <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 0" [totalItems]="totalSize" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>


        </div>
    </mat-tab>

    <mat-tab label="Late">
        <div class="container-fluid">

            <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="search()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div>

            <div class="row mt-4">

                <!--<div class="col-md-12"><p>Report for {{selectedDate | date:'fullDate'}} as at {{reportDate | date:'shortTime'}}</p></div>-->

                <div class="col-lg d-lg-flex align-items-center">
                    <div class="col-lg">
                        <mat-form-field>
                            <mat-select name="loc" [(ngModel)]="reportModel.locId" (change)="locationChange()">
                                <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All location</mat-option>
                                <mat-option [value]="loc.locId" *ngFor="let loc of locations">{{loc.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg">
                        <mat-form-field>
                            <mat-select name="reportPeriod" [(ngModel)]="reportPeriod" (change)="filterReport()">
                                <mat-option value="TODAY">TODAY</mat-option>
                                <mat-option value="WEEKLY">THIS WEEK</mat-option>
                                <mat-option value="MONTHLY">THIS MONTH</mat-option>
                                <mat-option value="DATE_RANGE">DATE RANGE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container>
                        <div class="col-lg d-inline-flex">
                            <mat-form-field *ngIf="reportPeriod == 'DATE_RANGE'">
                                <input matInput [matDatepicker]="lateStart" placeholder="Start date" [max]="dateObj" name="ls" [(ngModel)]="selectedStartDate" (dateChange)="onDatePickerToggle()" (click)="lateStart.open()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="lateStart"></mat-datepicker-toggle>
                                <mat-datepicker #lateStart disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <!--<mat-icon class="cursor date-style" (click)="lateStart.open()">date_range</mat-icon>-->
                        </div>

                        <div class="col-lg d-inline-flex">
                            <mat-form-field *ngIf="reportPeriod == 'DATE_RANGE'">
                                <input matInput [matDatepicker]="lateEnd" placeholder="End date" [max]="dateObj" name="le" [(ngModel)]="selectedEndDate" (dateChange)="onDatePickerToggle()" (click)="lateEnd.open()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="lateEnd"></mat-datepicker-toggle>
                                <mat-datepicker #lateEnd disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <!--<mat-icon class="cursor date-style" (click)="lateEnd.open()">date_range</mat-icon>-->
                        </div>
                    </ng-container>

                </div>

                <div class="col-lg col-md-12  text-left pt-lg-2 pl-lg-4 pl-4 pb-lg-0 pb-4 mb-lg-3">
                    <button mat-button class="primary-outline" (click)="openModal(downloadTemplate)" *ngIf="data.length > 0">Download</button>
                    <!--<mat-menu #downloadmenu="matMenu">-->
                    <!--<button mat-menu-item (click)="downloadPdf()">PDF</button>-->
                    <!--<button mat-menu-item (click)="downloadExcel()">Spreadsheet</button>-->
                    <!--</mat-menu>-->
                </div>

                <!--<div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">-->
                <!--<div class="ml-md-auto mr-auto">-->
                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2 form-search" type="search" placeholder="" aria-label="Search">-->
                <!--<button class="btn btn-search">-->
                <!--<mat-icon class="mat-search">search</mat-icon>-->
                <!--</button>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <div class="container-fluid" *ngIf="currentTab == 1">

            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Mode of Clock-In</th>
                            <th scope="col">Date</th>
                            <th scope="col">Clock-In Time</th>
                            <th scope="col">Clock-Out Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data">
                            <td>{{d.name}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.location}}</td>
                            <td>{{d.mode}}</td>
                            <td>{{d.date}}</td>
                            <td>{{d.clock_in_time}}</td>
                            <td>{{d.clock_out_time}}</td>
                            <td><i (click)="viewDetails(d)" matTooltip="View More" class="material-icons cursor">list</i>
                            </td>
                        </tr>
                </table>
            </div>

            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>
                            <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 1" [totalItems]="totalSize" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>


        </div>

    </mat-tab>
    <mat-tab label="Absent">

        <div class="container-fluid">

            <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="search()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div>

            <div class="row mt-4">

                <!--<div class="col-md-12"><p>Report for {{selectedDate | date:'fullDate'}} as at {{reportDate | date:'shortTime'}}</p></div>-->

                <div class="col-lg d-lg-flex align-items-center">
                    <div class="col-lg">
                        <mat-form-field>
                            <mat-select name="loc" [(ngModel)]="reportModel.locId" (change)="locationChange()">
                                <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All location</mat-option>
                                <mat-option [value]="loc.locId" *ngFor="let loc of locations">{{loc.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--<div class="col">-->
                    <!--<mat-form-field>-->
                    <!--<mat-select name="reportPeriod" [(ngModel)]="reportPeriod" (change)="filterReport()">-->
                    <!--<mat-option value="DATE_RANGE">DATE RANGE</mat-option>-->
                    <!--&lt;!&ndash;<mat-option value="WEEKLY">WEEKLY</mat-option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<mat-option value="MONTHLY">MONTHLY</mat-option>&ndash;&gt;-->
                    <!--</mat-select>-->
                    <!--</mat-form-field>-->
                    <!--</div>-->

                    <div class="col-lg d-inline-flex">
                        <mat-form-field>
                            <input matInput [matDatepicker]="absentStart" placeholder="Date" [max]="dateObj" name="date" [(ngModel)]="absentDate" (dateChange)="onDatePickerToggle()" (click)="absentStart.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="absentStart"></mat-datepicker-toggle>
                            <mat-datepicker #absentStart disabled="false"></mat-datepicker>
                            <!--<mat-icon class="cursor date-style" (click)="absentStart.open()">date_range</mat-icon>-->
                        </mat-form-field>
                    </div>

                    <!--<div class="col">-->
                    <!--<mat-form-field>-->
                    <!--<input matInput [matDatepicker]="absentEnd" placeholder="End date" [max]="dateObj"-->
                    <!--name="date" [(ngModel)]="selectedEndDate" (dateChange)="fetchDailyReport()" disabled>-->
                    <!--<mat-datepicker-toggle matSuffix [for]="absentEnd"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #absentEnd disabled="false"></mat-datepicker>-->
                    <!--</mat-form-field>-->
                    <!--</div>-->

                </div>

                <div class="col-lg col-md-12  text-left pt-lg-2 pl-lg-4 pl-4 pb-lg-0 pb-4 mb-lg-3">
                    <button mat-button class="primary-outline" (click)="openModal(downloadTemplate)" *ngIf="data.length > 0">Download</button>
                    <!--<mat-menu #downloadmenu="matMenu">-->
                    <!--<button mat-menu-item (click)="downloadPdf()">PDF</button>-->
                    <!--<button mat-menu-item (click)="downloadExcel()">Spreadsheet</button>-->
                    <!--</mat-menu>-->
                </div>

                <!--<div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">-->
                <!--<div class="ml-md-auto mr-auto">-->
                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2 form-search" type="search" placeholder="" aria-label="Search">-->
                <!--<button class="btn btn-search">-->
                <!--<mat-icon class="mat-search">search</mat-icon>-->
                <!--</button>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <div class="container-fluid" *ngIf="currentTab == 2">

            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data">
                            <td>{{d.name}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.location}}</td>
                        </tr>
                </table>
            </div>

            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>
                            <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 2" [totalItems]="totalSize" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>

        </div>

    </mat-tab>
    <mat-tab label="Wrong location">

        <div class="container-fluid">

            <div class="col-md-12 text-lg-right" *ngIf="locations.length > 0">
                <mat-form-field>
                    <div class="d-inline-flex">
                        <input matInput placeholder="Search" name="search" [(ngModel)]="searchValue" (keydown.enter)="search()">
                        <mat-icon *ngIf="searchValue" (click)="searchValue = ''" class="cursor text-secondary pl-1" style="font-size: 20px">cancel</mat-icon>
                        <mat-icon *ngIf="!searchValue" class="cursor" (click)="search()">search</mat-icon>
                    </div>
                </mat-form-field>
            </div>


            <div class="row mt-4">

                <!--<div class="col-md-12"><p>Report for {{selectedDate | date:'fullDate'}} as at {{reportDate | date:'shortTime'}}</p></div>-->

                <div class="col-lg d-lg-flex align-items-center">
                    <div class="col-lg">
                        <mat-form-field>
                            <mat-select name="loc" [(ngModel)]="reportModel.locId" (change)="locationChange()">
                                <mat-option value="" *ngIf="userRole !== 'LOCATION_ADMIN'">All location</mat-option>
                                <mat-option [value]="loc.locId" *ngFor="let loc of locations">{{loc.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg">
                        <mat-form-field>
                            <mat-select name="reportPeriod" [(ngModel)]="reportPeriod" (change)="filterReport()">
                                <mat-option value="TODAY">TODAY</mat-option>
                                <mat-option value="WEEKLY">THIS WEEK</mat-option>
                                <mat-option value="MONTHLY">THIS MONTH</mat-option>
                                <mat-option value="DATE_RANGE">DATE RANGE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container>
                        <div class="col-lg d-inline-flex">
                            <mat-form-field *ngIf="reportPeriod == 'DATE_RANGE'">
                                <input matInput [matDatepicker]="wrongLocStart" placeholder="Start date" [max]="dateObj" name="date" [(ngModel)]="selectedStartDate" (dateChange)="onDatePickerToggle()" (click)="wrongLocStart.open()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="wrongLocStart"></mat-datepicker-toggle>
                                <mat-datepicker #wrongLocStart disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <!--<mat-icon class="cursor date-style" (click)="wrongLocStart.open()">date_range</mat-icon>-->
                        </div>

                        <div class="col-lg d-inline-flex">
                            <mat-form-field *ngIf="reportPeriod == 'DATE_RANGE'">
                                <input matInput [matDatepicker]="wrongLocEnd" placeholder="End date" [max]="dateObj" name="date" [(ngModel)]="selectedEndDate" (dateChange)="onDatePickerToggle()" (click)="wrongLocEnd.open()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="wrongLocEnd"></mat-datepicker-toggle>
                                <mat-datepicker #wrongLocEnd disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <!--<mat-icon class="cursor date-style" (click)="wrongLocEnd.open()">date_range</mat-icon>-->
                        </div>
                    </ng-container>

                </div>

                <div class="col-lg col-md-12  text-left pt-lg-2 pl-lg-4 pl-4 pb-lg-0 pb-4 mb-lg-3">
                    <button mat-button class="primary-outline" (click)="openModal(downloadTemplate)" *ngIf="data.length > 0">Download</button>
                    <!--<mat-menu #downloadmenu="matMenu">-->
                    <!--<button mat-menu-item (click)="downloadPdf()">PDF</button>-->
                    <!--<button mat-menu-item (click)="downloadExcel()">Spreadsheet</button>-->
                    <!--</mat-menu>-->
                </div>

                <!--<div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">-->
                <!--<div class="ml-md-auto mr-auto">-->
                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2 form-search" type="search" placeholder="" aria-label="Search">-->
                <!--<button class="btn btn-search">-->
                <!--<mat-icon class="mat-search">search</mat-icon>-->
                <!--</button>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <div class="container-fluid" *ngIf="currentTab == 3">

            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Clock in Location</th>
                            <th scope="col">Expected Location</th>
                            <th scope="col">Mode of Clock-In</th>
                            <th scope="col">Clock-In Time</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of mf.data">
                            <td>{{d.name}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.clock_in_address}}</td>
                            <td>{{d.location}}</td>
                            <td>{{d.mode}}</td>
                            <td>{{d.clock_in_time}}</td>
                            <td>{{d.date}}</td>
                        </tr>
                </table>
            </div>

            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="pb-lg-0 pb-4">
                        <div class="form-group form-inline">
                            <p class="pt-3 pr-2">Show</p>
                            <mat-form-field class="w-25">
                                <mat-select name="rows" [(ngModel)]="rowsOnPage" (change)="updateSize()">
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <pagination class="pt-2" *ngIf="data.length > 0 && currentTab == 3" [totalItems]="totalSize" [itemsPerPage]="rowsOnPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>


        </div>

    </mat-tab>

    <!--<mat-tab label="Custom">-->
    <!--<div class="container">-->
    <!--<div class="row pr-lg-5 pl-lg-5">-->
    <!--<div class="col-lg-12 pr-lg-5 pl-lg-5">-->
    <!--<div class="text-center pt-4">-->
    <!--<h5 class="text-brand text-ceter">Generate Custom Report</h5>-->
    <!--</div>-->
    <!--<div class="text-lg-center pr-lg-5 pl-lg-5">-->
    <!--<mat-form-field class="col-lg-10">-->
    <!--<mat-select placeholder="Location">-->
    <!--<mat-option value="Option 1">Ikoyi Branch</mat-option>-->
    <!--<mat-option value="Option 1">Lekki Branch</mat-option>-->
    <!--<mat-option value="Option 1">Victoria Island Branch</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="input-field col-lg-5">-->
    <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker></mat-datepicker>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="input-field col-lg-5">-->
    <!--<input matInput [matDatepicker]="picker2" placeholder="Choose a date">-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker2></mat-datepicker>-->
    <!--</mat-form-field>-->


    <!--<mat-form-field class="input-field col-lg-5">-->
    <!--<input matInput type="time" pattern="[0-9]{2}:[0-9]{2}" placeholder="Clocked in Before" name="rTime">-->
    <!--<mat-hint>Format (HH:MM AM/PM)</mat-hint>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="input-field col-lg-5">-->
    <!--<input matInput type="time" pattern="[0-9]{2}:[0-9]{2}" placeholder="Clocked in After" name="rTime">-->
    <!--<mat-hint>Format (HH:MM AM/PM)</mat-hint>-->
    <!--</mat-form-field>-->

    <!--<div class="form-inline pr-lg-5 pl-lg-5">-->
    <!--&lt;!&ndash; <p class="location-padding pt-lg-3 pt-5">Correct Location</p> &ndash;&gt;-->
    <!--<mat-form-field class="location-padding col-lg-6 pt-5 pt-lg-3">-->
    <!--<mat-select class="" placeholder="Correct Location">-->
    <!--<mat-option value="Option 1"></mat-option>-->
    <!--<mat-option value="Option 1">Yes</mat-option>-->
    <!--<mat-option value="Option 1">No</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--</div>-->

    <!--<div class="col-lg-6 pl-lg-5">-->
    <!--<p class=" text-brand font-weight-bold text-left location-padding">Filter Report Table Result</p>-->
    <!--<mat-form-field class="text-left col-lg-12 location-padding">-->
    <!--<mat-select placeholder="Select" multiple>-->
    <!--<mat-option>Clock in Time</mat-option>-->
    <!--<mat-option>Clock in Location</mat-option>-->
    <!--<mat-option>Clock in Result</mat-option>-->
    <!--<mat-option>Clock in Mode</mat-option>-->
    <!--<mat-option>Date</mat-option>-->
    <!--<mat-option>Email Address</mat-option>-->
    <!--<mat-option>Employee Name</mat-option>-->
    <!--<mat-option>Expected Location</mat-option>-->
    <!--<mat-option>Phone Number</mat-option>-->
    <!--<mat-option>Punctuality</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--</div>-->

    <!--<div class="pt-4 pl-lg-0 pl-4"><button mat-raised-button color="primary">Generate</button></div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="container-fluid">-->
    <!--<div class="row mt-4">-->
    <!--<div class="col-lg-4 col-12  d-flex align-items-center">-->
    <!--<mat-form-field>-->
    <!--<mat-select placeholder="All Locations">-->
    <!--<mat-option>-->

    <!--</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--</div>-->

    <!--<div class="col-lg-4 col-12 text-md-center text-left pt-lg-3">-->
    <!--<button mat-button class="primary-outline" [matMenuTriggerFor]="downloadmenu">Download</button>-->
    <!--<mat-menu #downloadmenu="matMenu">-->
    <!--<button mat-menu-item>PDF</button>-->
    <!--<button mat-menu-item>Spreadsheet</button>-->
    <!--</mat-menu>-->
    <!--</div>-->

    <!--<div class="col-lg-4 col-12 d-flex align-items-center pt-md-0 pt-3">-->
    <!--<div class="ml-md-auto mr-auto">-->
    <!--<form class="form-inline">-->
    <!--<input class="form-control mr-sm-2 form-search" type="search" placeholder="" aria-label="Search">-->
    <!--<button class="btn btn-search"><mat-icon class="mat-search">search</mat-icon></button>-->
    <!--&lt;!&ndash; <button class="btn btn-search ml-lg-3 pt-lg-0 mt-lg-0 mt-3 ml-1"><mat-icon class="text-white mt-lg-2">filter_list</mat-icon><span class="ml-2 text-white">Filter</span></button> &ndash;&gt;-->
    <!--<button class="btn btn-search ml-lg-3 pt-lg-0 mt-lg-0 mt-3 ml-1" mat-button [matMenuTriggerFor]="menu"><mat-icon class="text-white mt-lg-2">filter_list</mat-icon><span class="ml-2 text-white">Filter</span></button>-->
    <!--<mat-menu #menu="matMenu" multiple>-->
    <!--<button mat-menu-item>Item 1</button>-->
    <!--<button mat-menu-item>Item 2</button>-->
    <!--</mat-menu>-->

    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="container-fluid">-->

    <!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th scope="col">Name</th>-->
    <!--<th scope="col">Email Address</th>-->
    <!--<th scope="col">Location</th>-->
    <!--<th scope="col">Date</th>-->
    <!--<th scope="col">Clock-In Time</th>-->
    <!--<th scope="col">Correct Location</th>-->
    <!--<th scope="col">Punctuality</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-success">Early</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-danger">Late</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-success">Early</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-success">Early</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-danger">Late</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-danger">Late</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>J Cole</td>-->
    <!--<td>J_cole@xys.com</td>-->
    <!--<td>Ikoyi Branch</td>-->
    <!--<td>12/12/12</td>-->
    <!--<td>2:30pm</td>-->
    <!--<td><span class="text-success">Yes</span></td>-->
    <!--<td><span class="text-success">Early</span></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

    <!--<div class="pb-lg-0 pb-4">-->
    <!--<div class="form-group form-inline">-->
    <!--<p class="pt-3 pr-2">Show</p>-->
    <!--<input type="number" name="" id="" class="report-input">-->
    <!--</div>-->
    <!--</div>-->


    <!--</div>-->

    <!--</mat-tab>-->
</mat-tab-group>

<!--EMPTY STATE-->
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center pt-5">
                <img class="w-50" src="assets/img/w.png" alt="Profile picture">
                <h1 class="pt-4 fade-msg">NO REPORT TO DISPLAY</h1>
            </div>
        </div>
    </div>
</div> -->

<ng-template #downloadTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left text-brand text-center">Download Report</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-secondary small">Export Range</p>
        <mat-radio-group name="exportOption" [(ngModel)]="exportOption" (change)="toggleExportType($event)">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-radio-button class="small" value="1">Current Page</mat-radio-button>
                        </div>

                        <div class="col-md-6">
                            <mat-radio-button class="small" value="2">All Pages</mat-radio-button>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 d-inline-flex">
                    <div class="my-auto pr-3">
                        <mat-radio-button class="small" value="3">Select specific page</mat-radio-button>
                    </div>

                    <div *ngIf="showPageOption">
                        <mat-form-field class="w-25">
                            <mat-select name="pageNo" [(ngModel)]="pageNo">
                                <mat-option value="{{i + 1}}" *ngFor="let page of pageArray; let i = index">{{i + 1}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </mat-radio-group>

        <mat-divider></mat-divider>

        <div class="col-md-12 pt-3">
            <mat-form-field class="w-100">
                <mat-select placeholder="Download Format" name="exportType" [(ngModel)]="exportType">
                    <mat-option value="pdf">PDF</mat-option>
                    <mat-option value="sheet">EXCEL</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-12 text-center mb-3 mt-3">

            <button mat-raised-button color="primary" class="px-4 primary-outline py-1 mr-2" (click)="downloadReport()">
                        Download
                    </button>

            <button mat-raised-button class="px-4 primary-outline py-1" type="button" (click)="modalRef.hide()">CANCEL
                </button>


        </div>

    </div>

</ng-template>
