<div class="modal-header" *ngIf="!profilePage">
  <h5 class="modal-title pull-left text-brand">Password Change</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="changePasswordForm" (submit)="passwordChange(); changePasswordForm.reset()">
    <div class="row">
      <div class="col-12">

                  <div class="row p-md-3 p-0">
                  <!--  <div class="col-md-12">
                      <h6 class="text-brand">Add Current Password</h6>
                    </div> -->
                    <div class="col-12">
                      <mat-form-field class="input-field">
                        <input *ngIf="profilePage" matInput placeholder="Add Current Password" [type]="hide ?'password' : 'text'" formControlName="oldPw">
                        <input *ngIf="!profilePage" matInput placeholder="Add Temporary Password" [type]="hide ?'password' : 'text'" formControlName="oldPw">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

                      </mat-form-field>

                    </div>
                  <!--  <div class="col-md-12">
                      <h6 class="text-brand">Add New Password</h6>
                    </div> -->
                    <div class="col-12">
                      <mat-form-field class="input-field">
                        <input matInput placeholder="Add New Password" pattern="^([a-zA-Z0-9 @*#]{6,20})" [type]="visible ?'password' : 'text'" formControlName="newPw">
                        <mat-icon matSuffix (click)="visible = !visible">{{visible ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="changePasswordForm.invalid"><small>Not less than 6 or more than 20 characters</small></mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" mat-raised-button color="primary" class="px-4 primary-outline py-1 mr-2" [disabled]="changePasswordForm.invalid || loading">{{profilePage? 'SAVE PASSWORD':'LOGIN'}}</button>

                    </div>
                  </div>



      </div>
    </div>
  </form>
</div>
