<div *ngIf="editMode" class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <div class="row px-md-3 p-0">

                    <div class="col-md-12">
                        <h6 class="text-brand">{{ 'ADD_ATTENDEES.TITLE' | translate}}</h6>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <small>Add By:</small>
                        </div>
                        <div class="btn-group curve mb-3">
                            <label class="btn btn-md" *ngFor="let add of addBy; let idx=index"
                                   [ngClass]="{'btn-primary': add.checked}">
                                <input type="radio" autocomplete="off" name="addToggle" [checked]="add.checked"
                                       [value]="add.name" (click)="changeAdd(idx)">
                                {{add.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <form (ngSubmit)="onSubmit()" name="inviteForm" #inviteForm="ngForm" ngNativeValidate>
                    <div class="row px-md-3 p-0" *ngIf="invites">
                        <div class="col-md-5">
                            <mat-form-field class="input-field">
                                <input matInput placeholder="Enter Email" type="email" name="email"
                                       [(ngModel)]="inviteRequest.email" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="input-field">
                                <mat-select placeholder="Select Location" name="location" [(ngModel)]="location" required>
                                    <mat-option *ngFor="let loc of locations" value="{{loc.locId}}">{{loc.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="col-md-12 text-right  mt-3 mt-md-0">
                            <button mat-mini-fab color="accent" type="submit">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="row  p-md-3 p-0" *ngIf="bulk">
                    <div class="col-md-6 mb-4">
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-2 my-2">
                        <button mat-raised-button color="warning" id="downloadTemplate" (click)="downloadTemplate()" class="mat-btn">DOWNLOAD EXCEL</button>
                    </div>
                    <div class="col-md-2 my-2">
                        <!--<button mat-raised-button color="accent" class="mat-btn">UPLOAD EXCEL</button>-->
                        <div class="fileUpload btn btn-success">
                            <span mat-raised-button color="accent" class="mat-btn">Upload Template</span>
                            <input type="file" class="upload" id="uploadTemplate" name="uploadTemplate"
                                   (change)="fileChange($event)">
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div *ngIf="!editMode" class="col-md-12 pt-4 text-right">
            <button mat-button class="mat-btn" routerLink="/portal/config">BACK</button>
            <button mat-raised-button color="primary" class="mat-btn" routerLink="/portal">DONE</button>
        </div>
    </div>
</div>