<div *ngIf="editMode" class="modal-header">
    <h5 class="modal-title pull-left text-brand">INVITE NEW EMPLOYEE</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <!--<div class="row px-md-3 p-0 justify-content-center">-->

            <!--<div class="col-md-12">-->
            <!--<h6 class="text-brand">{{ 'ADD_ATTENDEES.TITLE' | translate}}</h6>-->
            <!--</div>-->

            <!--<div class="col-md-12">-->
            <!--<div>-->
            <!--<small>Add By:</small>-->
            <!--</div>-->
            <!--<div class="btn-group curve mb-3">-->
            <!--<label class="btn btn-md" *ngFor="let add of addBy; let idx=index"-->
            <!--[ngClass]="{'btn-primary': add.checked}">-->
            <!--<input type="radio" autocomplete="off" name="addToggle" [checked]="add.checked"-->
            <!--[value]="add.name" (click)="changeAdd(idx)">-->
            <!--{{add.name}}-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <form (ngSubmit)="onSubmit()" name="inviteForm" #inviteForm="ngForm" ngNativeValidate>
                <div class="row px-md-3 p-0 justify-content-center" *ngIf="invites">
                    <div class="col-md-8">
                        <!--<mat-form-field class="input-field">-->
                        <!--<input matInput placeholder="Enter Email" type="email" name="email"-->
                        <!--[(ngModel)]="inviteRequest.email" required>-->
                        <!--</mat-form-field>-->

                        <mat-form-field class="input-field mb-4 demo-chip-list">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let email of inviteRequest.emails" [selectable]="true" [removable]="true" (remove)="removeEmail(email)">
                                    {{email}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Enter Email Address (es)" (focusout)="addEmails($event)" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addEmails($event)" />
                            </mat-chip-list>
                            <mat-hint>Separate multiple entries with comma. Press Enter key to confirm entry
                            </mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-md-8">
                        <mat-form-field class="input-field">
                            <mat-select placeholder="Select Location" name="location" [(ngModel)]="location" required>
                                <mat-option *ngFor="let loc of locations" value="{{loc.locId}}">{{loc.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-12 text-md-center text-center pt-5">
                    <ng-container>

                        <button mat-raised-button color="primary" type="submit" class="primary-outline">
                            Add Employee (s)
                            <img *ngIf="loading" src="assets/img/loading.gif" style="max-width: 20px;"/>
                        </button>

                        <button mat-button class="primary-outline" type="button" (click)="cancel()">Cancel</button>

                    </ng-container>
                </div>

            </form>

        </div>
    </div>
</div>