<h3 class="">Create Password</h3>
<p class="small">Create a password for your account with at least 6 <br> characters long</p>


<form class="pt-2">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 px-0">

                <div class="form-group">
                    <label class="text-success small font-weight-bold">You@emailprovider.com</label>
                    <input type="password" class="form-control w-100" placeholder="Enter password here" [type]="hide ? 'password' : 'text'" formControlName="pw">
                </div>
            </div>

            <div class="col-md-12 text-center pt-3">
                <button type="submit" mat-raised-button color="primary" class="rounded px-5">
                    <span>Continue</span>
                    <img *ngIf="loading" src="assets/img/loading.gif" style="max-width: 20px;"/>
                </button>
            </div>

            <div class="col-md-12 text-center py-3">
                <p class="small">Clicking the continue button means you agree to the <br> Terms of Service and Privacy Policy.</p>
            </div>

        </div>
    </div>
</form>