<app-loading></app-loading>

<div class="container-fluid">
    <h5 class="text-brand pt-3">Card Details</h5>
    <a routerLink="/portal/subscription-history">
        <p class="text-muted cursor pt-lg-3"><i class="material-icons pr-2 position-absolute">keyboard_backspace</i><span class="pl-4">Back</span></p>
    </a>
    <p class="text-muted">Subscription Payment Method</p>
    <p>These are the payment methods for your subscriptions. If you are on auto renew, payments will be automatically made through this payment method. This payment method MUST belong to you</p>
    <hr>
    <div class="row col-md-12" *ngFor="let detail of cardDetails">
        <div class="col-md-6">
            <div class="d-inline-flex">
                <!--<img src="assets/img/mastercard1.png" alt="">-->
                <p class="font-weight-normal pl-3 my-auto">**** **** **** {{detail.lastFourDigits}}</p>
                <p class="pl-3 my-auto">Expires {{ detail.expiryMonth + "/" + detail.expiryYear}}</p>
                <!-- <div class="text-right">
                    <p class="text-brand"><span class="cursor">Edit</span> | <span class="cursor">Delete</span></p>
                </div> -->
            </div>
        </div>
        <div class="col-md-6 my-auto">
            <div class="text-right">
                <p class="text-brand"><span class="cursor">Edit</span> | <span class="cursor" (click)="deleteCard()">Delete</span></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="pb-3">
        <img src="assets/img/cardslogo.png" alt="" class="">
    </div>
    <p>This page and all data is securely transmitted and encrypted. PCI Compliance, 3-D Secure, HTTPS, SSL encryption.</p>
    <p>payments are processed securely by Flutterwave</p>
</div>