.btn2 {
    width: 45%;
    background: transparent;
    background: transparent;
    text-decoration: none !important;
    border: 1px solid #d6d3d3;
    box-shadow: rgba(214, 211, 211, 0.7) 1px 1px 8px;
}

.btn2:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 8px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) {
    .btn2 {
        width: 100% !important;
    }
}