<!-- <div class="col-12 pt-2 text-xl-left text-center">
    <div>
        <button class="btn  cursor  btn2 mb-3 white float-left"><img
                src="/assets/img/Googlelogo.png" style=" max-width:20px;  " class="img-fluid mr-2 " alt="Google btn">
                <span class="small font-weight-bold text-secondary" > Google</span>  </button>
        <button class="btn  cursor   btn2 white mb-3 float-right "><img
                src="/assets/img/linkedin.png" style="max-width:20px;"  class="img-fluid   mr-2" alt=" linkedin btn">
                <span class="small font-weight-bold text-secondary" > Linkedin</span>  </button>
        <div class="clearfix"></div>
    </div>
    <div>
        <button class="btn    white mb-3 btn2 float-left cursor "><img
                src="/assets/img/facebook.png" style="max-width:20px;"  class="img-fluid mr-2" alt="facbook btn">
                <span class="small font-weight-bold text-secondary" > Facebook</span>  </button>
        <button class="btn btn2    white mb-3 float-right   cursor "><img
                src="/assets/img/office.png" style="max-width:18px;" class="img-fluid mr-2 " alt="office btn">
                <span class="small text-secondary font-weight-bold" > Office 365</span>  </button>
        <div class="clearfix"></div>
    </div>
</div> -->

<div class="col-md-12 text-center py-3">
    <button class="btn  cursor  btn2 mb-3 white googleBtn"><img
            src="/assets/img/Googlelogo.png" style=" max-width:20px;  " class="img-fluid mr-2 " alt="Google btn">
            <span class="small font-weight-bold text-secondary" > Google</span>  </button>
</div>
