
<div class="bg-brand">
    <div class="container-fluid">
        <div class="row py-2 px-md-4 justify-content-end">
                <div class="col-md-4 pull-right text-right">
                    <button class="btn btn-danger">NO SUBSCRIPTION</button>
                </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-none d-sm-block sidebar-fixed bg-white">
            <div class="row py-md-3">
                <div class="col-md-8">
                    <small><b>ORGANIZATIONS</b></small>
                </div>
                <div class="col-md-4  d-flex justify-content-between align-items-center">
                    <i class="material-icons cursor" matTooltip="Create new organisation" (click)="openModal(template)">add_box</i>
                    <i class="material-icons cursor" matTooltip="Search for organisation">search</i>
                </div>
            </div>

            <div class="row">
                    <div class="list-group w-100">
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let workspace of workspaces" [ngClass]="{'active': workspace.active}">
                            {{workspace.name}}
                            <span class="badge badge-accent badge-pill">{{workspace.hits}}</span>
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-md-9  px-md-4">
            <div class="row pb-md-3">
                <div class="col-lg-3 col-md-6 mt-4">
                    <a href="#">
                        <mat-card class="py-md-4 text-center">
                            <i class="material-icons add-loc big-font">add_circle</i>
                            <div>Add new location</div>
                        </mat-card>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mt-4">
                    <a href="#">
                        <mat-card class="py-md-4 text-center">
                            <i class="material-icons big-font designed-loc">place</i>
                            <div>Head Quater</div>
                        </mat-card>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 mt-4">
                    <a href="#">
                        <mat-card class="py-md-4 text-center">
                            <i class="material-icons big-font designed-loc">place</i>
                            <div>Uyo, Okota Branch</div>
                        </mat-card>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">New organisation</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-md-12">
                <mat-form-field class="input-field">
                    <input matInput placeholder="Organisation Name">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="input-field">
                <mat-select placeholder="Type of Organisation">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
                <button mat-raised-button color="accent" class="auth-btn">PROCEED</button>
            </div> 
        </form>
    </div>
</ng-template>
  