<div class="container-fluid">

    <!--empty state-->
    <div class="row pb-md-3 equal-row" *ngIf="!orgId">

        <div class="col-lg-12 text-center">
            <div class="text-center">
                <img class="img-fluid" src="assets/img/welcome.png" alt="">
                <h6 class="text-center home-grey">We are pleased you joined the platform</h6>
                <h6 class="text-center home-grey">To get started</h6>
                <a routerLink="/sign-up-as">
                    <h5 class="pt-3 pb-3">ADD A COMPANY</h5>
                </a>
            </div>
        </div>

    </div>



    <div class="row pt-4" *ngIf="orgId">

        <div class="col-lg-7 px-md-4 px-lg-4">

            <div class="row" *ngIf="locations.length > 0">
                <div class=" col-lg-12 px-md-4 px-lg-4">
                    <h5 class="float-left">Locations</h5>
                    <a routerLink="/portal/config" role="button" *hasAuthority="'GENERAL_ADMIN'">
                        <h6 class="float-right">ADD NEW LOCATION</h6>
                    </a>
                </div>
            </div>

            <div class="row pb-md-3 equal-row" *ngIf="locations.length > 0">

                <div class="col-lg-4 col-md-6 mt-3" *ngFor="let loc of locations">
                    <mat-card class="py-md-3 h-100">
                        <img src="assets/img/loc.svg" style="max-width:32px" />
                        <h6 class="my-3">{{loc.name}}</h6>
                        <mat-divider></mat-divider>
                        <div class="py-2 row justify-content-between">
                            <div class="mr-auto col-auto"><small><a role="button" (click)="viewAttendees(loc.locId)">Employees</a></small></div>
                            <div class="ml-auto col-auto"><small>{{loc.noOfAttendees? loc.noOfAttendees:0}}</small></div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="py-2 row justify-content-between">
                            <div class="mr-auto col-auto"><small><a (click)="viewPendingAttendees(template, loc.locId)">Total Clock-in (Today)</a></small></div>
                            <div class="ml-auto col-auto"><small>{{loc.noOfClockInForToday? loc.noOfClockInForToday:0}}</small></div>
                        </div>

                        <div style="position:absolute; top:0; right:0;">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                          </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="invite(loc.locId)">
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Invite Employees</span>
                              </button>
                                <button mat-menu-item (click)="editLocation(loc)">
                                  <mat-icon>mode_edit</mat-icon>
                                  <span>Edit</span>
                              </button>
                                <button mat-menu-item (click)="viewAttendees(loc.locId)">
                                  <mat-icon>group</mat-icon>
                                  <span>View Employees</span>
                              </button>
                                <button mat-menu-item>
                                  <mat-icon>playlist_add_check</mat-icon>
                                  <span>Report</span>
                              </button>
                                <button mat-menu-item (click)="activateLocation(loc.active, loc.locId)">
                                  <mat-icon>delete_forever</mat-icon>
                                  <span>{{loc.active? 'Deactivate':'Activate'}}</span>
                              </button>
                            </mat-menu>
                        </div>
                    </mat-card>
                </div>

            </div>


            <!--empty state-->
            <div class="row pb-md-3 equal-row" *ngIf="locations.length == 0">

                <div class="col-lg-12 text-center">
                    <div class="text-center">
                        <img class="img-fluid" src="assets/img/welcome.png" alt="">
                        <h6 class="text-center home-grey">We are pleased you joined the platform</h6>
                        <h6 class="text-center home-grey">To get started</h6>
                        <a routerLink="/portal/config">
                            <h5 class="pt-3 pb-3">ADD A LOCATION</h5>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-5 px-md-4 px-lg-4 mt-md-0 mt-3">
            <mat-card class="col-lg-12 py-md-4">
                <mat-card-title>
                    <h6>Latest Clock-Ins</h6>
                </mat-card-title>

                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">LOCATION</th>
                                    <th scope="col">TIME IN</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let notif of latestClockin; let i=index" >
                                    <td>{{i+1}}</td>
                                    <td>{{notif.firstName}} {{notif.lastName}}</td>
                                    <td>{{notif.locationName}}</td>
                                    <td>{{notif.time | date:'shortTime'}}</td>
                                </tr>
                               <!-- <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob Samuel</td>
                                    <td>Ikeja</td>
                                    <td>07:30</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry the Bird</td>
                                    <td>Lekki</td>
                                    <td>09:30</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>

                    <!--empty state-->
                   <div class="text-center pt-5 pb-5" *ngIf="latestClockin.length == 0">
                        <h2 class="fade-msg">NO DATA</h2>
                        <h2 class="fade-msg">TO DISPLAY</h2>
                    </div>
                </mat-card-content>

            </mat-card>

            <mat-card class="col-lg-12 py-md-4 mt-lg-3 mt-md-0 mt-4">
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-6 mt-md-0 mt-3">
                            <mat-card>
                                <mat-card-content class="text-center">
                                  <div *ngIf="counts && counts != 0">
                                    <p class="display-3 font-weight-bold text-brand">{{counts}}</p>
                                    <p>Total Employees</p>
                                  </div>
                                    <!--empty state-->
                                    <div *ngIf="!counts || counts == 0">
                                        <h5 class="fade-msg">NO DATA</h5>
                                        <h5 class="fade-msg">TO DISPLAY</h5>
                                        <p class="fade-msg">Total Employees</p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-lg-6  mt-md-0 mt-3">
                            <mat-card>
                                <mat-card-content class="text-center">
                                  <div *ngIf="totalClockin && totalClockin != 0">
                                    <p class="display-3 font-weight-bold">{{totalClockin}}</p>
                                    <p>Total Clock in Today</p>
                                  </div>
                                    <!--empty state-->
                                    <div *ngIf="!totalClockin || totalClockin == 0">
                                        <h5 class="fade-msg">NO DATA</h5>
                                        <h5 class="fade-msg">TO DISPLAY</h5>
                                        <p class="fade-msg">Total Clock-in Today</p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left text-brand">Pending Employees</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12" *ngFor="let a of pendingAttendees">
            <p>{{a.email}}</p>
        </div>
    </div>
</ng-template>
