
<!--<div class="bg-brand">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row py-2 px-md-4 justify-content-end">-->
                <!--<div class="col-md-4 pull-right text-right">-->
                    <!--<button class="btn btn-danger">NO SUBSCRIPTION</button>-->
                <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">

        <!--<app-side-nav></app-side-nav>-->

        <div class="col-lg-12 px-md-4 px-lg-4">
            <div class="row pb-md-3 row-eq-height">
                <div class="col-lg-3 col-md-6 mt-4" *ngIf="orgId">
                    <a routerLink="/portal/config">
                        <mat-card class="py-md-4 text-center">
                            <i class="material-icons add-loc big-font">add_circle</i>
                            <div>Add new location</div>
                            
                        </mat-card>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mt-4" *ngFor="let loc of locations">
                    <mat-card class="py-md-4 text-center">
                        <i class="material-icons big-font designed-loc">place</i>
                        <div>{{loc.name}}</div>
                        <div style="position:absolute; top:0; right:0;">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="invite()">
                                    <mat-icon>dialpad</mat-icon>
                                    <span>Invite Attendees</span>
                                </button>
                                <button mat-menu-item (click)="editLocation(loc)">
                                    <mat-icon>mode_edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="viewAttendees(loc.locId)">
                                    <mat-icon>group</mat-icon>
                                    <span>View Attendees</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>playlist_add_check</mat-icon>
                                    <span>Report</span>
                                </button>
                                <button mat-menu-item (click)="activateLocation(loc.active, loc.locId)">
                                    <mat-icon>delete_forever</mat-icon>
                                    <span>{{loc.active? 'Deactivate':'Activate'}}</span>
                                </button>
                            </mat-menu>
                        </div>    
                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div>
