html,
body,
material-app,
mat-sidenav-container,
.my-content {
    margin: 0;
    width: 100%;
    /*margin-top: 64px;
    height: calc(100vh - 64px);*/
}


/*mat-sidenav-content{
    height: calc(100vh - 64px);
  }*/

mat-sidenav {
    overflow-x: hidden;
    position: fixed;
}

.free-flows {
    position: absolute !important;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.border-r {
    border-right: 1px solid #939393;
}

mat-sidenav {
    width: 16em;
}

ul {
    padding: 0;
}

ul,
ul li {
    list-style-type: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.user-avatar {
    max-width: 60px;
}

.font-12 {
    font-size: 12px !important;
}

.width12em {
    width: 12.5em;
}

.width3em {
    width: 3em;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.trial-div-success {
    margin-right: 375px;
    padding-left: 20px;
    margin-top: -25px;
    width: 365px;
    background: #6a9a1f;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

button.btn.btn-trial-subscribe {
    color: #6a9a1f;
    background: #fff;
    border-radius: 50px;
    font-size: 13px !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}

button.btn.btn-trial-danger {
    color: #ff0000;
    background: #fff;
    border-radius: 50px;
    font-size: 13px !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}

.trial-div-danger {
    margin-right: 375px;
    margin-top: -25px;
    padding-left: 20px;
    width: 365px;
    background: red;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.trial-p {
    margin-top: 5px;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    padding-bottom: -39px !important;
    margin-bottom: 7px;
    padding-right: 21px;
}

@media only screen and (min-device-width: 653px) and (max-device-width: 1440px) {
    .trial-div-success {
        margin-right: 335px;
        padding-left: 20px;
        margin-top: -25px;
        width: 365px;
        background: #6a9a1f;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    .trial-div-danger {
        margin-right: 335px;
        margin-top: -25px;
        padding-left: 20px;
        width: 365px;
        background: red;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

@media(max-width:660px) {
    html,
    body,
    material-app,
    mat-sidenav-container,
    .my-content {
        margin: 0;
        width: 100%;
        margin-top: 0px;
        height: 100vh;
    }
    mat-sidenav-content {
        height: calc(100vh - 56px);
    }
    mat-sidenav {
        overflow-x: hidden;
        height: 100vh;
        position: fixed;
        margin-top: 0px;
    }
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.container-img-hover {
    position: relative;
    width: 50%;
}

.image-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.h-120 {
    height: 120px !important;
}

.upload-icon {
    font-size: 35px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-img-hover:hover .image-hover {
    opacity: 0.3;
}

.container-img-hover:hover .middle {
    opacity: 1;
}

input::placeholder {
    color: #ffffff82 !important;
}

@media only screen and (max-width: 1280px) {
    .hamMenu {
        display: block;
    }
    .minimizeMenu {
        display: none;
    }
}

@media only screen and (min-width: 1281px) {
    .hamMenu {
        display: none;
    }
    .minimizeMenu {
        display: block;
    }
}

.companyItemLogoDiv {
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.companyLogoDiv {
    border-radius: 50% !important;
    display: flex;
    width: 115px;
    height: 115px;
    overflow: hidden;
}

.companyLogo {
    flex: none;
}
