<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="{{sideNavMode}}" [opened]="opener" [ngStyle]="{ 'width.em': sidenavWidth }"
                 (mouseenter)="toggleNavFromMouseEvent(true)" (mouseleave)="toggleNavFromMouseEvent(false)">
        <div class="nav-header">
            <div class="py-4 px-3">
                <img src="assets/img/logo.png" class="img-fluid logo-icon" *ngIf="sidenavWidth >= 15"
                     style="max-height:26px;"/>
                <img src="assets/img/logo-icon.png" class="img-fluid logo-icon" *ngIf="sidenavWidth < 15"/>
            </div>
        </div>


        
        <div  class="container-fluid px-0" (clickOutside)="onClickedOutside($event)">
            <a role="button" (click)="openModal(template)" *ngIf="orgs.length == 0">
                <div class="cursor border-top">
                    <small>
                        <mat-list>
                            <mat-list-item class="p-0 font-12">
                                <mat-icon mat-list-icon>add_box</mat-icon>
                                <p mat-line> Add Organistaion</p>
                            </mat-list-item>
                        </mat-list>
                    </small>
                </div>
            </a>

            <div class="row my-3 px-3 cursor border-0 align-items-center" (click)="show()" *ngIf="orgs.length > 0">
                <img src=" assets/img/1.png" class="img-fluid rounded-circle logo-icon ml-3" style="max-height:2em;"/>
                <small class="p-2" *ngIf="sidenavWidth >= 15"><b>{{selectedOrg.name? (selectedOrg.name | ellipsis:15):''}}</b></small>
                <i class="material-icons ml-auto mr-3"  *ngIf="sidenavWidth >= 15">arrow_drop_down</i>
            </div>

            <div *ngIf="openDropdown"  class="bg-light-grey pt-2 font-12">
                <ul class="list-unstyled px-3">
                    <li class="media">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Search organisation" type="text">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </li>
                    <ng-container *ngFor="let org of orgs">
                        <li *ngIf="org.orgId != selectedOrg.orgId" class="media my-4 cursor" (click)="selectOrg(org)">
                            <img class="mr-3" src="assets/img/2.jpg" style="max-height:2.5em;">
                            <div class="media-body" g>
                                <b class="mt-0 mb-1 text-capitalize">{{org.name}}</b>
                                <!--<small>123 Attendees</small>-->
                            </div>
                        </li>
                    </ng-container>
                </ul>

                <a role="button" (click)="openModal(template)">
                    <div class="cursor border-top">
                        <small>
                            <mat-list>
                                <mat-list-item class="p-0 font-12">
                                    <mat-icon mat-list-icon>add_box</mat-icon>
                                    <p mat-line> Add Organistaion</p>
                                </mat-list-item>
                            </mat-list>
                        </small>
                    </div>
                </a>
            </div>
        </div>

        <mat-nav-list>
            <ul>
                <li routerLinkActive="active" *ngFor="let view of views">
                    <a routerLink="{{view.url}}" mat-list-item>
                        <mat-icon mat-list-icon>{{view.icon}}</mat-icon>
                        <span mat-line>{{view.route}}</span>
                    </a>
                </li>
            </ul>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <ul>
                <li routerLinkActive="active" *ngFor="let nav of navs">
                    <a routerLink="{{nav.url}}" mat-list-item>
                        <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
                        <span mat-line>{{nav.route}}</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="logout()" mat-list-item>
                        <mat-icon mat-list-icon>power_settings_new</mat-icon>
                        <span mat-line>Log Out</span>
                    </a>
                </li>
            </ul>
        </mat-nav-list>

    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" class="d-block d-md-none">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button (click)="toggleNavFromHam(false)" class="d-none d-md-block" *ngIf="sidenavWidth >= 15"
                matTooltip="Minimize navigation">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>

        <button mat-icon-button (click)="toggleNavFromHam(true)" class="d-none d-md-block" *ngIf="sidenavWidth < 15"
                matTooltip="Maximize navigation">
            <mat-icon>fullscreen</mat-icon>
        </button>


        <span>{{title}}</span>
        <span class="example-spacer"></span>

        <button mat-icon-button class="pr-5" matTooltip="Switch to bioregistra">
            <mat-icon class="example-icon">apps</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>message</mat-icon>
                <span>Notification</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>

</mat-sidenav-container>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">New organisation</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="saveOrg()" name="orgCreationForm" #orgCreationForm="ngForm" ngNativeValidate>
            <div class="col-md-12">
                <mat-form-field class="input-field">
                    <input matInput placeholder="Organisation Name" name="orgName"  #orgName="ngModel" [(ngModel)]="orgRequest.name" required>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="input-field">
                    <mat-select placeholder="Type of Organisation" name="orgType"  #orgType="ngModel" [(ngModel)]="orgRequest.type" [required]="true">
                        <mat-option *ngFor="let type of orgTypes" value="{{type}}">{{type}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="orgType.errors?.required">You must make a selection</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
                <button mat-raised-button color="accent" class="auth-btn" type="submit">PROCEED</button>
            </div>
        </form>
    </div>
</ng-template>


