<main class="landing">
    <section class="vh-100">
        <div class="container-fluid h-100">
            <div class="row">
                <div class="col-md-2 p-3">
                    <img src="assets/img/logos-bc.png" style="height:45px" />
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center" style="height:85%;">
                <div class="col-xl-4 col-md-8 p-md-5 p-3 align-items-center">
                    <div class="my-5 text-lg-left text-center">
                        <h2 class="text-brand mb-3">Clock In Everyday With A Smile</h2>
                        <h4>Make time and attendance more productive and fun for your organization with iClocker</h4>
                        <button class="mt-4 pl-4 pr-4 btn btn-primary-outline d-inline-flex cursor" (click)="scroll(howItWorks)">See How It Works</button>
                    </div>

                </div>
                <div class="col-xl-4 col-md-8 p-md-0 p-3 d-flex align-items-center">
                    <mat-card class="w-100">
                        <span class="text-brand">Start today with our 14 days free trial</span>
                        <app-register></app-register>
                        <hr>
                        <p class="text-center">Already have an account? <span class="cursor text-brand font-weight-bold" (click)="gotoLogin()">Sign in</span></p>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container-fluid">
            <div class="row h-100 justify-content-start d-flex align-items-center">
                <div class="col-xl-4 p-md-0 p-3 align-items-center d-none d-xl-block">
                    <img src="assets/img/about.png" class="img-fluid" />
                </div>
                <div class="col-xl-7 col-md-12 align-items-center pl-md-5 pl-3 home">
                    <h4 class="text-brand mb-4">About iClocker</h4>
                    <article class="mb-4">
                        iClocker is an innovative clock-in software for contemporary businesses to track employees in any location. The app uses facial recognition and Geo-Fencing technology to confirm that the user is who and where they say they are by taking selfies during
                        clock-in.
                    </article>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <!-- <img src="assets/img/face-recognition@2x.png" class="img-fluid" width="50" /> -->
                                    <i class="sprite sprite-face-recognition_2x"></i>
                                </div>
                                <div class="col">
                                    <h5 class="text-brand">Smile Recognition</h5>
                                    iClocker is equipped with face verification, using smiles as means of identification. Employees sign in to work with only a selfie.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <img src="assets/img/route@2x.png" class="img-fluid " width="50" />
                                </div>
                                <div class="col">
                                    <h5 class="text-brand">Geolocation</h5>
                                    iClocker employs a GPS service that allows approved employees to clock in only at the locations chosen by the Admin.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <img src="assets/img/report@2x.png" class="img-fluid" width="50" />
                                </div>
                                <div class="col">
                                    <h5 class="text-brand">Reports</h5>
                                    Get real-time reports of clock-in time and location of employees anytime.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <img src="assets/img/smartphone@2x.png" class="img-fluid " width="50" />
                                </div>
                                <div class="col">
                                    <h5 class="text-brand">Mobile</h5>
                                    The iClocker app works on smartphone devices, with employees using the front camera to take pictures.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section #howItWorks class="my-5 pt-md-5 pt-0">
        <div class="container-fluid px-md-5 px-3">
            <div class="row justify-content-start  mx-md-5 mx-0">
                <div class="col-12 center text-center">
                    <h4 class="text-brand mb-4">How It Works</h4>
                </div>
                <div class="col-xl-3 col-md-6 col-12 text-center px-3 py-5 card">
                    <div>
                        <img src="assets/img/form-80x72.png" />
                    </div>
                    <div class="my-3"><span class="text-brand">Create Account & Company Profile</span></div>
                    <small>
                        Create an account for your company using your corporate email and provide details of your
                        organization.
                    </small>
                </div>
                <div class="col-xl-3 col-md-6 col-12 text-center px-3 py-5 card">
                    <div>
                        <img src="assets/img/Group-429-94x73.png" />
                    </div>
                    <div class="my-3"><span class="text-brand">Create & Assign Clock-in Location</span></div>
                    <small>
                        With iClocker’s simple system, easily set up clock-in locations, clock-in time and assign
                        employees
                        to these locations.
                    </small>
                </div>
                <div class="col-xl-3 col-md-6 col-12 text-center px-3 py-5 card">
                    <div>
                        <img src="assets/img/selfie-stick-78x79.png" />
                    </div>
                    <div class="my-3"><span class="text-brand">Clock In From Assigned Location</span></div>
                    <small>
                        Employees register their arrival daily at assigned locations by taking snapshots of themselves
                        smiling.
                    </small>
                </div>
                <div class="col-xl-3 col-md-6 col-12 text-center px-3 py-5 card">
                    <div>
                        <img src="assets/img/text-lines-92x80.png" />
                    </div>
                    <div class="my-3"><span class="text-brand">Track your Attendance Report</span></div>
                    <small>
                        Using iClocker’s report system, easily track employee attendance. Filter to suit your type of
                        report and download with the simple click of a button
                    </small>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row mr-0 ml-0">
            <div class="col-md-6 p-0">
                <div class="videobg-1">
                    <div class="grey-overlay h-100">
                        <button class="btn btn-outline-white d-inline-flex cursor" (click)="openModal(adminVideo)"><mat-icon class="text-white mr-2">play_circle_filled</mat-icon>How it works for Admin</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="videobg-2">
                    <div class="grey-overlay h-100">
                        <button class="btn btn-outline-white d-inline-flex cursor" (click)="openModal(employeeVideo)"><mat-icon class="text-white mr-2">play_circle_filled</mat-icon>How it works for Employees</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="purple-grad">
        <div class="container-fluid h-100">
            <div class="row h-100 justify-content-xl-between justify-content-md-center d-flex align-items-center">
                <div class="col-xl-5 col-md-8 my-3 align-items-center">
                    <div class="row">
                        <div class="col-xl-2 "></div>
                        <div class="col-xl-10 col-md-12 text-lg-left text-center">
                            <h3 class="mb-3">A little smile, a better state of mind</h3>
                            <h5>
                                <span style="font-weight: 400;">
                                    Improve work performance when your employees clock in to work with
                                    style
                                </span>
                            </h5>
                            <h3 class="mb-3">Available on Android</h3>
                            <a href="https://play.google.com/store/apps/details?id=com.seamfix.iclocker" target="_blank">
                                <img src="assets/img/google-play-badge-en@2x-1.png" height="60">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 p-md-0 p-3 align-items-center d-none d-xl-block">
                    <img src="assets/img/mroup-8@2x.png" class="img-fluid " />
                </div>
            </div>
        </div>
    </section>

    <section class="vh-100">
        <div class="container-fluid p-3 h-100">
            <div class="row h-100 justify-content-center d-flex align-items-center">
                <div class="col-md-8 d-flex align-items-center">
                    <img src="assets/img/screens@2x.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>

    <section class="purple-grad p-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    Powered by <a href="https://seamfix.com" target="_blank" class="text-white">Seamfix</a>
                </div>
            </div>
        </div>
    </section>
</main>


<ng-template #adminVideo>
    <!-- <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div> -->

    <iframe width="798" height="415" src="https://www.youtube.com/embed/rUdN9h0DUmM?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</ng-template>


<ng-template #employeeVideo>
    <!-- <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div> -->

    <iframe width="798" height="415" src="https://www.youtube.com/embed/_cPhEJd8vPg?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</ng-template>