<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-12">
            <p class="text-muted cursor" (click)="goBack()"><i class="material-icons pr-2 position-absolute">keyboard_backspace</i><span class="pl-4">Back</span></p>
        </div>
    </div>
    <div class="row equal-row">

        <div class="col-lg-6">
            <mat-card>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="text-brand pb">Biodata</h5>
                        <img class="w-50 rounded-circle mx-auto d-block mt-3" *ngIf="model.verifiableImg" src="data:image/jpg;base64,{{model.verifiableImg}}" alt="">
                        <img class="w-50 rounded-circle mx-auto d-block mt-3" *ngIf="!model.verifiableImg" src="assets/img/1.png" alt="Profile picture">
                        <div class="pl-4 pt-3 col-lg-9 col-9 mx-auto d-block text-secondary cursor">
                            <!--<mat-icon class="float-left pl-lg-2 pl-4" style="font-size: 20px">camera_enhance</mat-icon>-->
                            <!--<p class="float-left pl-lg-2 pl-4" style="font-size: 14px">CHANGE PHOTO</p>-->
                            <div class="clearfix"></div>
                        </div>
                        <!--<div class="text-danger small cursor text-center">X REMOVE</div>-->
                        <h5 class="text-center pt-3 pb-5">{{model.fName}} {{model.lName}}</h5>
                    </div>
                    <div class="col-lg-6 pt-lg-0 pt-4 pb-4">
                        <!--<button mat-icon-button (click)="openeditProfileModal(editProfile)" class="float-lg-right">-->
                        <!--<mat-icon class="float-right">edit</mat-icon>-->
                        <!--</button>-->
                        <div class="pt-lg-5">
                            <p class="text-brand font-weight-bold pt-3">Email Address</p>
                            <h6>{{model.email}}</h6>
                        </div>
                        <div class="pt-3">
                            <p class="text-brand font-weight-bold">Phone Number</p>
                            <h6>{{model.phone}}</h6>
                        </div>
                        <div class="pt-3">
                            <p class="text-brand font-weight-bold">Residential Address</p>
                            <h6>{{model.address}}</h6>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mt-lg-3 mt-4">
                <div class="row">
                    <div class="col-lg-12 pb-lg-0 pb-2">
                        <h5 class="text-brand">Location(s)</h5>
                        <ng-container *ngFor="let loc of locations; let i = index">
                            <span> {{ loc.name}} {{i + 1 == locations.length? '':' , '}} </span>
                        </ng-container>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mt-lg-3 mt-4 punctuality-height">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-brand pb-lg-2 punctuality-padding">Punctuality Report</h5>

                        <div class="row">
                            <div class="col-md-12 d-inline-flex">
                                <p class="small">
                                    0% - Never early
                                </p>
                                <p class="small pl-3">
                                    50% - Averagely early
                                </p>
                                <p class="small pl-3">
                                    100% - Always early
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 pb-lg-0 pb-2">

                        <div class="col-lg-6 float-left w-50 pt-3 gauge-width">
                            <mwl-gauge class="two {{active}}" [max]="100" [dialStartAngle]="0" [dialEndAngle]="180" [value]="punctualityScore" [animated]="true" [animationDuration]="5">
                            </mwl-gauge>

                        </div>

                        <!--<div class="col-lg-6 pt-lg-5 float-right pl-lg-5 punctuality-text">-->
                            <!--<p class="small">-->
                                <!--0% - Never early-->
                            <!--</p>-->
                            <!--<p class="small">-->
                                <!--50% - Averagely early-->
                            <!--</p>-->
                            <!--<p class="small">-->
                                <!--100% - Always early-->
                            <!--</p>-->
                        <!--</div>-->

                        <div class="col-md-6 pt-lg-5 float-right pl-lg-5 punctuality-text">
                            <small>
                                <span class="float-left">This month</span>
                                <span class="float-right text-success">{{punctuality[1]?.punctualityScore}}</span>
                            </small><br/>
                            <small>
                                <span class="float-left">This year</span>
                                <span class="float-right text-danger">{{punctuality[2]?.punctualityScore}}</span>
                            </small>

                            <div class="clearfix"></div>
                            <div>
                                <button mat-button [matMenuTriggerFor]="puncMenu" class="m-0 mt-3 p-0">
                                    {{selectedRangeForPunc?.title}}
                                    <i class="material-icons">arrow_drop_down</i>
                                </button>
                                <mat-menu #puncMenu="matMenu">
                                    <button mat-menu-item (click)="filterPuncScore('week')">This week</button>
                                    <button mat-menu-item (click)="filterPuncScore('month')">This month</button>
                                    <button mat-menu-item (click)="filterPuncScore('year')">This year</button>
                                </mat-menu>
                            </div>
                        </div>

                    </div>

                    <!-- <button mat-button [matMenuTriggerFor]="puncMenu" class="m-0 mt-3 p-0">
                        {{selectedRangeForPunc?.title}}
                        <i class="material-icons">arrow_drop_down</i>
                    </button>
                    <mat-menu #puncMenu="matMenu">
                        <button mat-menu-item (click)="filterPuncScore('week')">This week</button>
                        <button mat-menu-item (click)="filterPuncScore('month')">This month</button>
                        <button mat-menu-item (click)="filterPuncScore('year')">This year</button>
                    </mat-menu> -->
                </div>
            </mat-card>

        </div>


        <div class="col-lg-6 pt-lg-0 pt-4">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <mat-card>
                        <h5 class="mb-3">Total days Present</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="font-size text-success">{{selectedRangeForDaysPresent?.daysPresent}}</span>
                                <!--<i class="material-icons text-success" *ngIf="selectedRangeForDaysPresent.trend == 'UP'">arrow_upward</i>-->
                                <!--<i class="material-icons text-danger" *ngIf="selectedRangeForDaysPresent.trend == 'DOWN'">arrow_downward</i>-->
                            </div>
                            <div class="col-md-6">
                                <small>
                                    <span class="float-left">This month</span>
                                    <span class="float-right text-success">{{totalDaysPresent[1]?.daysPresent}}</span>
                                </small><br/>
                                <small>
                                    <span class="float-left">This year</span>
                                    <span class="float-right text-danger">{{totalDaysPresent[2]?.daysPresent}}</span>
                                </small>
                            </div>
                        </div>
                        <button mat-button [matMenuTriggerFor]="filterMenu" class="m-0 mt-3 p-0">
                            {{selectedRangeForDaysPresent?.title}}
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #filterMenu="matMenu">
                            <button mat-menu-item (click)="filterDaysPresent('week')">This week</button>
                            <button mat-menu-item (click)="filterDaysPresent('month')">This month</button>
                            <button mat-menu-item (click)="filterDaysPresent('year')">This year</button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-card>
                        <h5 class="mb-3">Total days Absent</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="font-size text-success">{{selectedRangeForDaysAbsent?.daysAbsent}}</span>
                                <!--<i class="material-icons text-success">arrow_upward</i>-->
                            </div>
                            <div class="col-md-6">
                                <small>
                                    <span class="float-left">This month</span>
                                    <span class="float-right text-success">{{totalDaysAbsent[1]?.daysAbsent}}</span>
                                </small><br/>
                                <small>
                                    <span class="float-left">This year</span>
                                    <span class="float-right text-danger">{{totalDaysAbsent[2]?.daysAbsent}}</span>
                                </small>
                            </div>
                        </div>
                        <button mat-button [matMenuTriggerFor]="amenu" class="m-0 mt-3 p-0">
                            {{selectedRangeForDaysAbsent?.title}}
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #amenu="matMenu">
                            <button mat-menu-item (click)="filterDaysAbsent('week')">This week</button>
                            <button mat-menu-item (click)="filterDaysAbsent('month')">This month</button>
                            <button mat-menu-item (click)="filterDaysAbsent('year')">This year</button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-card>
                        <h5 class="mb-3">Total days Early</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="font-size text-success">{{selectedRangeForDaysEarly?.daysEarly}}</span>
                                <i class="material-icons text-success" *ngIf="selectedRangeForDaysEarly?.trend == 'UP'">arrow_upward</i>
                                <i class="material-icons text-danger" *ngIf="selectedRangeForDaysEarly?.trend == 'DOWN'">arrow_downward</i>
                                <!--<i class="material-icons text-success">arrow_upward</i>-->
                            </div>
                            <div class="col-md-6">
                                <small>
                                    <span class="float-left">This month</span>
                                    <span class="float-right text-success">{{totalDaysEarly[1].daysEarly}}</span>
                                </small><br/>
                                <small>
                                    <span class="float-left">This year</span>
                                    <span class="float-right text-danger">{{totalDaysEarly[2].daysEarly}}</span>
                                </small>
                            </div>
                        </div>
                        <button mat-button [matMenuTriggerFor]="earlyMenu" class="m-0 mt-3 p-0">
                            {{selectedRangeForDaysEarly?.title}}
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #earlyMenu="matMenu">
                            <button mat-menu-item (click)="filterDaysEarly('week')">This week</button>
                            <button mat-menu-item (click)="filterDaysEarly('month')">This month</button>
                            <button mat-menu-item (click)="filterDaysEarly('year')">This year</button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-card>
                        <h5 class="mb-3">Total days Late</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="font-size text-success">{{selectedRangeForDaysLate?.daysLate}}</span>
                                <i class="material-icons text-success" *ngIf="selectedRangeForDaysLate?.trend == 'UP'">arrow_upward</i>
                                <i class="material-icons text-danger" *ngIf="selectedRangeForDaysLate?.trend == 'DOWN'">arrow_downward</i>
                            </div>
                            <div class="col-md-6">
                                <small>
                                    <span class="float-left">This month</span>
                                    <span class="float-right text-success">{{totalDaysLate[1].daysLate}}</span>
                                </small><br/>
                                <small>
                                    <span class="float-left">This year</span>
                                    <span class="float-right text-danger">{{totalDaysLate[2].daysLate}}</span>
                                </small>
                            </div>
                        </div>
                        <button mat-button [matMenuTriggerFor]="lateMenu" class="m-0 mt-3 p-0">
                            {{selectedRangeForDaysLate?.title}}
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #lateMenu="matMenu">
                            <button mat-menu-item (click)="filterDaysLate('week')">This week</button>
                            <button mat-menu-item (click)="filterDaysLate('month')">This month</button>
                            <button mat-menu-item (click)="filterDaysLate('year')">This year</button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-card>
                        <h5 class="mb-3">Average Clock-In Time</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="text-success">{{selectedRangeForClockInTime?.time > 0? (selectedRangeForClockInTime?.time | date:'shortTime'):'N/A'}}</span>
                                <!--<span class="font-size text-success">10</span>-->
                                <!--<i class="material-icons text-success">arrow_upward</i>-->
                            </div>
                            <div class="col-md-8">
                                <small>
                                    <span class="float-left">This month</span>
                                    <span class="float-right text-success">{{avgClockIn[1].time > 0? (avgClockIn[1].time | date:'shortTime'):'N/A'}}</span>
                                </small><br/>
                                <small>
                                    <span class="float-left">This year</span>
                                    <span class="float-right small text-danger">{{avgClockIn[2].time > 0? (avgClockIn[2].time | date:'shortTime'):'N/A'}}</span>
                                </small>
                            </div>
                        </div>
                        <button mat-button [matMenuTriggerFor]="cmenu" class="m-0 mt-3 p-0">
                            {{selectedRangeForClockInTime?.title}}
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #cmenu="matMenu">
                            <button mat-menu-item (click)="filterClockIn('week')">This week</button>
                            <button mat-menu-item (click)="filterClockIn('month')">This month</button>
                            <button mat-menu-item (click)="filterClockIn('year')">This year</button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-card>
                        <h5 class="mb-3">Average Clock-Out Time</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="text-success">{{selectedRangeForClockOutTime?.time > 0? (selectedRangeForClockOutTime?.time | date:'shortTime'):'N/A'}}</span>
                                <!--<span class="font-size text-success">10</span>-->
                                <!--<i class="material-icons text-success">arrow_upward</i>-->
                            </div>
                            <div class="col-md-8">
                                <small>
                                    <span class="float-left">This month</span>
                                    <span class="float-right text-success">{{avgClockOut[1].time > 0? (avgClockOut[1].time | date:'shortTime'):'N/A'}}</span>
                                </small><br/>
                                <small>
                                    <span class="float-left">This year</span>
                                    <span class="float-right text-danger">{{avgClockOut[2].time > 0? (avgClockOut[2].time | date:'shortTime'):'N/A'}}</span>
                                </small>
                            </div>
                        </div>
                        <button mat-button [matMenuTriggerFor]="comenu" class="m-0 mt-3 p-0">
                            {{selectedRangeForClockOutTime?.title}}
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #comenu="matMenu">
                            <button mat-menu-item (click)="filterClockOut('week')">This week</button>
                            <button mat-menu-item (click)="filterClockOut('month')">This month</button>
                            <button mat-menu-item (click)="filterClockOut('year')">This year</button>
                        </mat-menu>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
