<div class="container-fluid">
    <div class="row pt-4 equal-row">
        <div class="col-lg-6">
            <mat-card>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="text-brand pb">Biodata</h5>
                        <img class="w-50 rounded-circle mx-auto d-block pt-3" *ngIf="model.img"
                             src="data:image/jpg;base64,{{model.img}}" alt="">
                        <img class="w-50 rounded-circle mx-auto d-block pt-3" *ngIf="!model.img" src="assets/img/1.png"
                             alt="Profile picture">
                        <div class="pl-4 pt-3 col-lg-9 col-9 mx-auto d-block text-secondary cursor">
                            <!--<mat-icon class="float-left pl-lg-2 pl-4" style="font-size: 20px">camera_enhance</mat-icon>-->
                            <!--<p class="float-left pl-lg-2 pl-4" style="font-size: 14px">CHANGE PHOTO</p>-->
                            <div class="clearfix"></div>
                        </div>
                        <!--<div class="text-danger small cursor text-center">X REMOVE</div>-->
                        <h5 class="text-center pt-3 pb-5">{{model.fName}} {{model.lName}}</h5>
                    </div>
                    <div class="col-lg-6 pt-lg-0 pt-4 pb-4">
                        <!--<button mat-icon-button (click)="openeditProfileModal(editProfile)" class="float-lg-right">-->
                        <!--<mat-icon class="float-right">edit</mat-icon>-->
                        <!--</button>-->
                        <div class="pt-lg-5">
                            <p class="text-brand font-weight-bold pt-3">Email Address</p>
                            <h6>{{model.email}}</h6>
                        </div>
                        <div class="pt-3">
                            <p class="text-brand font-weight-bold">Phone Number</p>
                            <h6>{{model.phone}}</h6>
                        </div>
                        <div class="pt-3">
                            <p class="text-brand font-weight-bold">Residential Address</p>
                            <h6>{{model.address}}</h6>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mt-lg-3 mt-4">
                <div class="row">
                    <div class="col-lg-12 pb-lg-0 pb-2">
                        <h5 class="text-brand">Location</h5>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mt-lg-3 mt-4">
                <div class="row">
                    <div class="col-lg-12 pb-lg-0 pb-2">
                        <h5 class="text-brand">Punctuality Report</h5>

                        <div class="w-50 pt-3">
                            <mwl-gauge
                                    class="two"
                                    [max]="100"
                                    [dialStartAngle]="0"
                                    [dialEndAngle]="180"
                                    [value]="punctualityScore"
                                    [animated]="true"
                                    [animationDuration]="5">
                            </mwl-gauge>

                        </div>
                    </div>
                </div>
            </mat-card>

        </div>


        <div class="col-lg-6 pt-lg-0 pt-4">
            <mat-card class="h-100">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Recent Time in</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th>Time in</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let c of clockInHistorys">
                                    <td>{{c.time | date:'fullDate'}}</td>
                                    <td>{{c.locationName}}</td>
                                    <td>{{c.time | date:'shortTime'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--empty state-->
                        <div class="text-center pt-5 pb-5" *ngIf="clockInHistorys.length == 0">
                            <h2 class="fade-msg">NO DATA</h2>
                            <h2 class="fade-msg">TO DISPLAY</h2>
                        </div>

                    </div>
                </div>
            </mat-card>

        </div>
    </div>
</div>