<app-loading></app-loading>
<ng-container>
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-4"></div>
            <div class="col-8 text-right">
                <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-select name="reportPeriod" [(ngModel)]="reportPeriod" (change)="filterReport()">
                            <mat-option value="THIS_MONTH">THIS MONTH</mat-option>
                            <mat-option value="DATE_RANGE">DATE RANGE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="reportPeriod == 'DATE_RANGE'">
                    <div class="col">
                        <mat-form-field>
                            <input matInput [matDatepicker]="earlyStart" placeholder="Start date" [max]="dateObj"
                                   name="date"
                                   [(ngModel)]="selectedStartDate" (dateChange)="onDatePickerToggle()" disabled>
                            <mat-datepicker-toggle matSuffix [for]="earlyStart"></mat-datepicker-toggle>
                            <mat-datepicker #earlyStart disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <!--<mat-icon class="cursor date-style" (click)="earlyStart.open()">date_range</mat-icon>-->
                    </div>

                    <div class="col">
                        <mat-form-field>
                            <input matInput [matDatepicker]="earlyEnd" placeholder="End date" [max]="dateObj"
                                   name="date"
                                   [(ngModel)]="selectedEndDate" (dateChange)="onDatePickerToggle()" disabled>
                            <mat-datepicker-toggle matSuffix [for]="earlyEnd"></mat-datepicker-toggle>
                            <mat-datepicker #earlyEnd disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <!--<mat-icon class="cursor date-style" (click)="earlyEnd.open()">date_range</mat-icon>-->
                    </div>
                </ng-container>
                </div>
                </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="iframeUrl">
    <iframe class="w-100"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(iframeUrl)"
            frameborder="0"
            width="800"
            height="600"
            id="frame"
            allowtransparency
    ></iframe>
</ng-container>
