@import '~@angular/material/theming';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$font-stack : 'Montserrat', sans-serif;

$custom-typography: mat-typography-config(
    $font-family: $font-stack
);

@include mat-core($custom-typography);

$mat-mcprimary: (
    50 : #e5f2fd,
    100 : #bfddfa,
    200 : #95c7f6,
    300 : #6ab1f2,
    400 : #4aa0f0,
    500 : #2a8fed,
    600 : #2587eb,
    700 : #1f7ce8,
    800 : #1972e5,
    900 : #0f60e0,
    A100 : #ffffff,
    A200 : #dae7ff,
    A400 : #a7c5ff,
    A700 : #8db4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-mcaccent: (
    50 : #e2f6ec,
    100 : #b8e8d0,
    200 : #88d8b0,
    300 : #58c890,
    400 : #35bd79,
    500 : #11b161,
    600 : #0faa59,
    700 : #0ca14f,
    800 : #0a9845,
    900 : #058833,
    A100 : #b5ffca,
    A200 : #82ffa6,
    A400 : #4fff82,
    A700 : #36ff70,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$candy-app-primary: mat-palette($mat-mcprimary);
$candy-app-accent:  mat-palette($mat-mcaccent);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


$red: #B21E3D;
$white: #ffffff;
$off-white:#F5F7FF;
$grey: #72797A;

$standard-size: 14px;



@include angular-material-theme($candy-app-theme);

html, body{
    font-family: $font-stack !important;
}


mat-card.logo-carousel{
    min-height:640px;
    background-color: mat-color($candy-app-primary) !important; 
    color: $grey !important; 
    border-radius: 12px;
    box-shadow: 0 0 30px $grey !important; 
    z-index:1;
}

.mat-nav-list .mat-list-item .mat-list-text>*, h1, h2, h3, h4, h5, h6{
    font-weight: 600 !important;
}

mat-card.auth{
    min-height:600px;
    border-radius: 0 12px 12px 0 !important;
    box-shadow: 0 0 30px $grey !important; 

}

mat-card{
    border-radius: 5px !important;
    box-shadow: 0 3px 1px -2px rgba(183, 183, 183, 0.2), 
    0 2px 2px 0 rgba(222, 222, 222, 0.14), 
    0 1px 5px 0 rgba(0,0,0,.12) !important;
    background-color: $off-white !important;
}

.mat-tab-group.mat-primary .mat-ink-bar{
    height: 3px;
    background-color: mat-color($candy-app-accent) !important;
    
}
.mat-tab-header {
    border-bottom: 0 !important;
}

.mat-tab-label{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-tab-label-active,.accent-text{
    color: mat-color($candy-app-accent, 500) !important; 
}

.btn-primary{
    background-color: mat-color($candy-app-primary) !important;
    border: 1px solid mat-color($candy-app-primary);
}

.btn-accent{
    background-color: mat-color($candy-app-accent, 500) !important;
    border: 1px solid mat-color($candy-app-accent, 500) !important;
    color:$white !important; 
}

.bg-brand{
    background-color: mat-color($candy-app-primary) !important;
    color:mat-color($candy-app-primary, A400) !important; 
}

.text-brand, a{
    color:mat-color($candy-app-primary);
}

.bg-light-grey{
    background-color:mat-color($candy-app-primary, A100) !important; 
}

a:hover{
    text-decoration: none;
}

.btn-danger{
    background: $red;
    border: 0;
}



.list-group-item.active {
    background-color: mat-color($candy-app-accent, 500) !important; 
    border-color: mat-color($candy-app-accent, 500) !important; 
    color: mat-color($candy-app-primary, A400) !important; 
}

.badge-accent {
    color: mat-color($candy-app-primary, A400) !important; 
    background-color: mat-color($candy-app-primary) !important;
}

.add-loc{
    color: mat-color($candy-app-primary, 300) !important;
}

.big-font{
    font-size: 115px;
}

.designed-loc{
    color:#e6e9ea;
}

.modal-backdrop {
    background-color: mat-color($candy-app-primary) !important;
}

.mat-drawer-container {
    background-color: $white !important; 
}

mat-sidenav {
    border-right:2px solid mat-color($candy-app-primary, 50);
    background-color: mat-color($candy-app-primary, 50) !important;
}


.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item{
    font-size: $standard-size;
}




@media (max-width: 575.98px){
    mat-card.auth{
        min-height:auto;
        border-radius: 12px !important;
    
    }
}

@media (max-width: 767.98px){
    mat-sidenav {
        border-right: 0;
    }
}