<h3>Notifications</h3>
<div class="card text-center" style="width: 60rem;" *ngFor="let notif of notifications">
  <div class="card-block">
    <p class="card-text">You have a {{notif.status}} attendee request from {{notif.email}}</p>
    <button type="button" class="btn btn-primary float-right" (click)="openAttendeesDetailsModal(viewDetailsTemplate, notif.locIds, notif.inviteId)">View
      Details
    </button>
  </div>
</div>


<ng-template #viewDetailsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Attendee Information Capture</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li>First Name: {{details.firstName}}</li>
      <li>Surname: {{details.lastName}}</li>
      <li>Email Address: {{details.email}}</li>
      <li>Phone Number: {{details.phoneNumber}}</li>
      <li>Request Time: {{details.created | date:'fullDate'}}</li>
    </ul>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="approveRejectNotifications(details.email, details.inviteId,  'REJECTED')"
            data-dismiss="modal">Reject
    </button>
    <button type="button" class="btn btn-primary" (click)="approveRejectNotifications(details.email, details.inviteId, 'APPROVED')">
      Accept
    </button>
  </div>
</ng-template>

<ng-template #assignLocation>
  <div class=" modal-header">
    <h4 class="modal-title pull-center">Assign Attendee to a Location</h4>
    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Assign {{selectedEmail}} to a location</p>
    <mat-form-field>
      <mat-select placeholder="Select Locations" name="locs" [(ngModel)] = "approveRequest.locIds" multiple>
        <mat-select-trigger>
          {{locations? getSelectedLocationName() : ''}}
    <span *ngIf="approveRequest.locIds?.length > 1">
      (+{{approveRequest.locIds.length - 1}} others)
    </span>
        </mat-select-trigger>
        <mat-option *ngFor="let loc of locations" [value]="loc.locId">{{loc.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Assign Later</button>
    <button type="button" class="btn btn-primary" (click)="confirmAssignment(details.inviteId)">Assign</button>
  </div>
</ng-template>



