<div class="container h-100">

    <div class="row justify-content-center h-100">

        <div class="col-4 p-0 mt-5 msg">
            <div class="pb-4 mt-5 pt-5 w-100 text-center">
                <img src="/assets/img/logos-bc.png" class="img-fluid " width="130px;" alt="iclocker logo">
            </div>
            <div class="pb-5 w-100 text-center">
                <img src="/assets/img/reg-msg.png" class="img-fluid " width="70px;" alt="message image">
            </div>
            <p class=" text-left fontSize font-weight-normal text-color">A mail with a link has been sent to <span class="highlight textHlght"> {{email}}</span> Click the link to confirm your address to continue with account setup.</p>
            <p class=" text-left fontSize fontWeight text-color"> Wrong email? <span routerLink="/auth" class="highlight cursor purple">please re-enter your address.</span></p>
        </div>
    </div>
</div>
